/** Stage container **/

.connected-carousels .stage {
    width: 1047px;
    margin: 20px auto;
    position: relative;
}
.opinion .connected-carousels .stage {
  width: 638px;
  margin: 20px 0 68px;
  position: relative;
}
.recipe .connected-carousels .stage {
  margin: 20px 0 0;
}
.advices .connected-carousels .stage {
  width: 1154px;
  margin-right: 25px;
}
/** Navigation container **/

.connected-carousels .navigation {
    width: 1154px;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 400px;
}
.opinion .connected-carousels .carousel-stage {
  height: 543px;
}
.advices .connected-carousels .carousel-stage {
  height: 470px;
  /*width: 627px;*/
  margin: -30px 0 0 -30px;
}
.recipe .connected-carousels .carousel-stage {
  height: auto;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 144px;
    width: 1154px;
  text-align: center;

}

.connected-carousels .carousel-navigation li {
  cursor: pointer;
  width: 325px;
  margin: 0 30px;
}

.opinion .connected-carousels .carousel-navigation li {
  cursor: pointer;
  width: 355px;
  margin: 0 30px 0 0;
}

.connected-carousels .carousel-navigation li img {
    display: block;
}

.connected-carousels .carousel-navigation li .img_wrapper {
  float: left;
  width: 220px;
  text-align: center;
  position: relative;
}

.opinion .connected-carousels .carousel-navigation li .img_wrapper {
  width: 173px;
  height: 105px;
  border: 3px transparent solid;
  margin-right: 20px;
}
.recipe .connected-carousels .carousel-navigation li .img_wrapper {
  width: 150px;
  height: 150px;
  border: none;
  background: url(../img/recipes/sm_shadow.png) no-repeat -1px 33px;
  margin-right: 7px;
}
.recipe .connected-carousels .carousel-navigation li .img_wrapper .inner_wrapper {
  width: 104px;
  height: 104px;
  border: none;
  border-radius: 15px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Safari and Chrome */
  overflow: hidden;
  margin: 20px;
}
.recipe .connected-carousels .carousel-navigation li .img_wrapper img {
  width: auto;
  height: auto;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  margin: -55px;
}


.advices .connected-carousels .carousel-navigation li .img_wrapper {
  border: 3px #ffffff solid;
}
.recipe .connected-carousels .carousel-navigation li .img_wrapper {
  border: none;
}
.opinion .connected-carousels .carousel-navigation li .img_wrapper .play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/opinion/play_sm.png) no-repeat center;
  cursor: pointer;
}

.connected-carousels .carousel-navigation li .prod_title {
  float: left;
  text-align: left;
  font: 22px/22px 'helveticaneue_regular';
  color: #c54025;
  padding-top: 40px;
  width: 105px;
  margin-bottom: 0;
}
.opinion .connected-carousels .prod_title {
  font: 24px/30px 'helveticaneue_regular';
  color: #c54025;
  margin-bottom: 40px;
}
.opinion .connected-carousels .carousel-navigation li .prod_title {
  font-size: 18px;
  line-height: 18px;
  width: 154px;
  padding-top: 0px;
}
.recipe .connected-carousels .carousel-navigation li .prod_title {
  margin-left: 0;
  width: 195px;
  margin-top: 40px;
  font-family: 'helveticaneue_light';
}

.connected-carousels .carousel-navigation li.active .prod_title {
    color: #d4d4d4;
}
.opinion .connected-carousels .carousel-navigation li.active .img_wrapper {
  border: 3px #ffcc00 solid;
}
.recipe .connected-carousels .carousel-navigation li.active .img_wrapper {
  border: none;
}
.recipe .connected-carousels .carousel-navigation li.active .img_wrapper .inner_wrapper {
  border: 3px #ffcc00 solid;
  margin: 17px;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 115px;
    width: 51px;
    height: 76px;
  background: url(../img/products/nav.png) no-repeat;
}
.opinion .connected-carousels .prev-stage,
.opinion .connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: 248px;
  width: 41px;
  height: 62px;
  background: url(../img/opinion/nav.png) no-repeat;
}
.advices .connected-carousels .prev-stage,
.advices .connected-carousels .next-stage {
  display: block;
  position: absolute;
  top: -103px;
  width: 41px;
  height: 62px;
  background: url(../img/opinion/nav.png) no-repeat;
}


.connected-carousels .prev-stage {
    left: -51px;
  background-position: 0 0;
}

.connected-carousels .next-stage {
    right: -51px;
  background-position: 100% 100%;
}

.opinion .connected-carousels .prev-stage {
  left: -41px;
  background-position: 0 0;
}

.opinion .connected-carousels .next-stage {
  right: -41px;
  background-position: 100% 100%;
}
.advices .connected-carousels .prev-stage {
  left: 483px;
  background-position: 0 0;
}

.advices .connected-carousels .next-stage {
  left: 665px;
  background-position: 100% 100%;
}
.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
   /* display: none;*/
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    /*display: none;*/
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: -15px;
    top: 22px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: -15px;
    top: 22px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}

.connected-carousels .carousel-stage li {
  width: 1047px;
}
.opinion .connected-carousels .carousel-stage li {
  width: 638px;
  height: 360px;
}
.advices .connected-carousels .carousel-stage li {
  width: 1154px;
  height: 543px;
  padding: 30px;
}
.recipe .connected-carousels .carousel-stage li {
  height: auto;
  padding: 30px 10px 10px;
}
.connected-carousels .carousel-stage .img_wrapper {
  float: left;
  margin: 0 21px;
  width: 550px;
  height: 400px;
  text-align: center;
}
.connected-carousels .carousel-stage .img_wrapper img {
  width: 100%;
  height: 100%;
}
.opinion .connected-carousels .carousel-stage .img_wrapper, .recipe .connected-carousels .carousel-stage .img_wrapper {
  position: relative;
  float: none;
  margin: 0 30px;
  width: 557px;
  height: 340px;
  text-align: center;
  border: 10px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 12px 17px rgba(0,0,0,0.2), 0px 1px 10px rgba(0,0,0,0.2);
}
.opinion .connected-carousels .carousel-stage .img_wrapper {
  height: 313px;
}
.advices .connected-carousels .carousel-stage .img_wrapper {
  margin: 0;
  float: left;
}
.opinion .connected-carousels .carousel-stage .img_wrapper .play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/opinion/play.png) no-repeat center;
  cursor: pointer;
}
.recipe .connected-carousels .carousel-stage .img_wrapper {
  width: 450px;
  height: 570px;
  border: none;
  box-shadow: none;
  background: url(../img/recipes/b_shadow.png) no-repeat -11px 25px;
}
.recipe .connected-carousels .carousel-stage .img_wrapper a.btn_green {
  width: 275px;
  display: block;
  position: absolute;
  left: 80px;
  bottom: 60px;
}
.recipe .connected-carousels .carousel-stage .img_wrapper .inner_wrapper {
  width: 320px;
  height: 320px;
  border-radius: 30px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Safari and Chrome */
  overflow: hidden;
  margin: 35px 0 0 65px;
}


.recipe .connected-carousels .carousel-stage .img_wrapper img {
  vertical-align: bottom;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  width: auto;
  height: auto;
  margin: -70px;
}
.connected-carousels .carousel-stage .info_wrapper {
  float: right;
  width: 450px;
  margin-right: 5px;
}
.advices .connected-carousels .carousel-stage .info_wrapper {
  float: right;
  width: 535px;
  margin-right: 0;
}
.recipe .connected-carousels .carousel-stage .info_wrapper {
  width: 660px;
}
.connected-carousels .carousel-stage .prod_title {
  font: 28px/30px 'helveticaneue_light';
  color: #c54025;
  margin: 35px 0 20px;
}
.opinion .connected-carousels .carousel-stage .prod_title {
  font: 46px/46px 'helveticaneue_regular';
  color: #c54025;
  margin: 0 0 20px 37px;
}
.connected-carousels .carousel-stage .line {
  width: 85px;
  height: 4px;
  background: #ffc423;
  margin-bottom: 20px;
}
.advices .connected-carousels .carousel-stage .line{
  background: #7bc142;
}

.connected-carousels .carousel-stage .prod_info {
  font: 16px/28px 'helveticaneue_light';
  color: #6d470c;
}
.connected-carousels .carousel-stage .prod_info strong {
  font-family: 'helveticaneue_medium';
}
.opinion .sos_like {
  text-align: right;
  margin: 40px 25px 0 0 ;
}
.opinion .sos_like div, .advices .sos_like div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.advices .sos_like {
  margin: 40px 0 0 0 ;
  float: left;
  width: 582px;
}
.recipe .navigation {
  display: none;
}
