@font-face { font-family: 'helveticaneue_regular'; src: url('../fonts/helveticaneue-regular.eot'); src: url('../fonts/helveticaneue-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-regular.woff') format('woff'), url('../fonts/helveticaneue-regular.ttf') format('truetype'), url('../fonts/helveticaneue-regular.svg#helveticaneue_regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'helveticaneue_light'; src: url('../fonts/helveticaneue-light.eot'); src: url('../fonts/helveticaneue-light.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-light.woff') format('woff'), url('../fonts/helveticaneue-light.ttf') format('truetype'), url('../fonts/helveticaneue-light.svg#helveticaneue_light') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'helveticaneue_medium'; src: url('../fonts/helveticaneue-medium.eot'); src: url('../fonts/helveticaneue-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-medium.woff') format('woff'), url('../fonts/helveticaneue-medium.ttf') format('truetype'), url('../fonts/helveticaneue-medium.svg#helveticaneue_medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'helveticaneue_bold'; src: url('../fonts/helveticaneue-bold.eot'); src: url('../fonts/helveticaneue-bold.otf'); src: url('../fonts/helveticaneue-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-bold.woff') format('woff'), url('../fonts/helveticaneue-bold.ttf') format('truetype'), url('../fonts/helveticaneue-bold.svg#helveticaneue_bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MinionPro Bold'; src: url('../fonts/MinionPro-Bold.eot'); src: url('../fonts/MinionPro-Bold.otf'); src: url('../fonts/MinionPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MinionPro-Bold.woff') format('woff'), url('../fonts/MinionPro-Bold.ttf') format('truetype'), url('../fonts/MinionPro-Bold.svg#helveticaneue_bold') format('svg'); font-weight: normal; font-style: normal; }

.clearfix:before, .clearfix:after { content: " ";  display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1;}
.fl_l {float: left;}
.fl_r {float: right;}
.clear{clear:both;}
.btn {
  height: 54px;
  line-height: 54px;
  font-family: 'helveticaneue_regular';
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
}
.btn_green {
  background: #7cc04f;
}
.btn_red {
  background: #d5410e;
}
/*-------------- main styles */
html, body {
  height: 100%;
}
body {
  background:#fbf9f2;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -79px;
  width: 1165px;
}
#footer, .boofer {
  height: 79px;
}
#footer {
  background: url(../img/bg/bg_bottom) no-repeat center bottom;
  min-width: 1054px;
}
#header {
  height: 154px;
  width: 100%;
  position: relative;
  padding: 1px;
}
.logo {
  display: block;
  width: 145px;
  height: 105px;
  background: url(../img/bg/logo.png) no-repeat;
  margin: 18px auto 0;
}
#header .win_prz {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 190px;
  height: 35px;
  background: url(../img/vuigray_prz.png) no-repeat;
}
#header .log_reg_block {
  position: absolute;
  top: 0;
  right: 0;
}
#header .log_reg_block a {
  margin-left: 15px;
  float: right;
  font: 13px/28px 'helveticaneue_regular';
  color: #a47833;
  text-decoration: none;
}
#header .log_reg_block i {
  margin-top: 8px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  float: left;
  background: url(../img/reg_log.png) no-repeat;
}
#header .log_reg_block .contact_btn i {
  background-position: 0px -12px;
}
#header .log_reg_block .feedback_btn i {
  background-position: 0px -24px;
}
#header .log_reg_block .log_btn {
  width: 54px;
  height: 44px;
  color: #ffffff;
  text-shadow: 0 2px 0 rgba(213,161,18, 0.75);
  background: url(../img/reg_log.png) no-repeat 100% 0;
  text-align: center;
}
#header .log_reg_block .map_btn {
  margin-top: 7px;
  width: 18px;
  height: 12px;
  background: url(../img/reg_log.png) no-repeat 0 -47px;
}
#header .social {
  float: left;
  margin-top: 10px;
  margin-left: 8px;
}
#header .social a {
  float: left;
  height: 19px;
  width: 15px;
  display: block;
  overflow: hidden;
  margin-right: 15px;
}
#header .social a:hover {
  background-position: 0 -20px;
}
#header .social .vk {
  background: url(../img/social/vk.png);
}
#header .social .fb {
  background: url(../img/social/fb.png);
}
#header .social .insta {
  background: url(../img/social/insta.png);
}
#header .social .odnkl {
  background: url(../img/social/odnkl.png);
}
#footer .container {
  width: 1054px;
  margin: 0 auto;
  position: relative;
}
#footer .copyrights {
  font: 12px/18px 'helveticaneue_light';
  letter-spacing: 0.5px;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 60px;
  text-transform: uppercase;
}
/*-------------- top navigation */
.main_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 85px;
}
.main_nav.left_part {
  left: 0;
}
.main_nav.right_part {
  right: 0;
}
.main_nav li {
  float: left;
  height: 37px;
  padding: 0 10px;
  position: relative;
}
.main_nav.left_part li {
  margin-right: 50px;
}
.main_nav.right_part li {
  margin-left: 32px;
  padding: 0 6px;
  position: relative;
}
.main_nav.right_part li:last-child img {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}
.main_nav a {
  margin-top: 9px;
  display: block;
  font: 15px/18px 'helveticaneue_regular';
  color: #7d5318;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
.main_nav li.bluda {
  background: url(../img/nav_bluda_bg.jpg) repeat-x;
}
.main_nav li.bluda:before {
  content: '';
  width: 15px;
  height: 37px;
  background: url(../img/nav_bluda_bg_before.png) no-repeat;
  position: absolute;
  top: 0;
  left: -14px;
}
.main_nav li.bluda:after {
  content: '';
  width: 15px;
  height: 37px;
  background: url(../img/nav_bluda_bg_after.png) no-repeat;
  position: absolute;
  top: 0;
  right: -15px;
}
.main_nav li:hover,
.main_nav li.active {
  background: url(../img/nav_bg.jpg) repeat-x;
}
.main_nav li:hover:before,
.main_nav li.active:before {
  content: '';
  width: 15px;
  height: 37px;
  background: url(../img/nav_bg_before.png) no-repeat;
  position: absolute;
  top: 0;
  left: -14px;
}
.main_nav li:hover:after,
.main_nav li.active:after {
  content: '';
  width: 15px;
  height: 37px;
  background: url(../img/nav_bg_after.png) no-repeat;
  position: absolute;
  top: 0;
  right: -15px;
}

.main_nav li:hover a,
.main_nav li.active a {
  color: white;
}
.main_nav .buy_btn {
  color: #aa0606;
  position: relative;
  padding-left: 30px;
}
.main_nav .buy_btn i {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 18px;
  height: 13px;
  background: url(../img/menu_buy.png) no-repeat;

}
/*-------------- sub navigation */
.sub_nav_wrapper {
  display: table;
  position: relative;
  border: #a3886a 1px solid;
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.sub_nav_wrapper a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  font: 14px/18px 'helveticaneue_regular';
  color: #7d5318;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 35px;
  background: url(../img/sub_menu_spl.png) no-repeat center right;
  position: relative;
}
.sub_nav_wrapper a img {
  display: none;
  position: absolute;
  right: 100%;
  top: -25%;
}
.sub_nav_wrapper a.last {
  background: none;
}
.sub_nav_wrapper .text_sub {
  position: relative;
  padding-left: 5px;
  display: inline-block;
}
.sub_nav_wrapper a:hover img,
.sub_nav_wrapper a.active img {
  display: block;
}
.sub_nav_wrapper a:hover,
.sub_nav_wrapper a.active {
  background: #C6421C;
  padding-left: 45px;
  padding-right: 25px;
  color: white;
}
/*-------------- promo */
.promo {
  width: 1200px;
  height: 396px;
  margin: 0 auto 60px;
  position: relative;
  display: block;
}
.promo .promo_bg {
  width: 1342px;
  height: 478px;
  background: url(../img/promo/promo_bg2.png) no-repeat;
  position: absolute;
  top: -25px;
  left: -25px;
}
.promo .winner_bg {
  background-image: url(../img/promo/promo_bg_winner.png) ;
}
.promo .promo_info {
  width: 495px;
  height: 355px;
  position: absolute;
  top: 0;
  left: 106px;
}
.promo .promo_info .title {
  font: 55px/60px 'helveticaneue_light';
  color: #dd2c3d;
  text-shadow: 0 1px 1px rgba(255,255,255,1);
  margin: 20px 0 17px 85px;
}
.promo .promo_info .info {
  font: 19px/24px 'helveticaneue_light';
  color: #5196af;
  text-shadow: 0 1px 1px rgba(255,255,255,1);
  width: 433px;
  margin: 0 0 0 85px;
  padding: 10px 0;
}
.promo .promo_info .line {
  background: #ffc423;
  height: 7px;
  width: 127px;
  margin: 0 0 10px 85px;
}
.promo .promo_btn_pr {
  position: absolute;
  bottom: 70px;
  left: 208px;
  display: block;
  font: 17px/17px 'helveticaneue_regular';
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background:  url(../img/promo/promo_bg_btn.png) no-repeat;
  width: 293px;
  padding: 20px 0;
  letter-spacing: 0.5px;
  margin: 5px auto 0;
  text-shadow: 0 1px 0 rgba(15,154,218,1);
}
/*-------------- main page blocks */
.sections_container {
  width: 1054px;
  margin: 0 auto 100px;
}
.sections_container .section {
  width: 1038px;
  margin: 0 auto 40px;
}
.sections_container .collumn {
  width: 49%;
}
.section .main_block {
  width: 753px;
  height: 273px;
  border-radius: 30px;
}
.section .r_shadow {
  box-shadow: -7px 7px 20px rgba(0,0,0,0.2);
}
.section .l_shadow {
  box-shadow: 7px 7px 20px rgba(0,0,0,0.2);
}
.section .b_shadow {
  box-shadow: 0px 34px 17px -19px rgba(0,0,0,0.2);
}
.section .info_block {
  width: 255px;
  height: 273px;
}
.section .info_block .img_wr {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.section .info_block .img_wr img {
  margin: 0 10px 20px;
}
.section .info_block .line {
  width: 68px;
  height: 1px;
  background: #ddc49a;
  margin: 0 auto 20px;
}
.section .info_block .text {
  text-align: center;
  color: #a47833;
  font: 15px/17px Georgia;
  font-style: italic;
}
.section .main_block_text {
  width: 256px;
  height: 238px;
  padding: 35px 0 0 30px;
  background: #fff;
  position: relative;
}
.section .main_block_text .block_title {
  display: block;
  font: 36px/33px 'helveticaneue_light';
  color: #c54025;
  margin-bottom: 15px;
  text-decoration: none;
}
.section .main_block_text .block_info {
  font: 16px/17px 'helveticaneue_light';
  color: #b78c4a;
  width: 225px;
}
.section .main_block_text .line {
  width: 85px;
  height: 4px;
  background: #ffc423;
  margin-bottom: 20px;
}
.section .main_block_img {
  display: block;
  height: 100%;
  position: relative;
}
.section .rad_r {
  border-radius: 0 30px 30px 0;
}
.section .rad_l {
  border-radius: 30px 0 0 30px;
}
.section .rc_arrow {
  position: absolute;
  top: 50%;
  right: -12px;
  width: 0;
  height: 0;
  margin: -12px 0 0 0;
  border-top: 12px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #ffffff;
  z-index: 2;
}
.section .lc_arrow {
  position: absolute;
  top: 50%;
  left: -12px;
  width: 0;
  height: 0;
  margin: -12px 0 0 0;
  border-top: 12px solid transparent;
  border-left: 0 solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #ffffff;
  z-index: 2;
}
.sl_line {
  background: #a3886a;
  width: 100%;
  height: 1px;
  margin: 20px auto 40px;
}
.opinion .sl_line {
  margin: 20px auto;
}
.numb_prod_wrapper {
  position: absolute;
  top: 250px;
  left: -35px;
  width: 133px;
  height: 133px;
  background: url(../img/products/numb.png) no-repeat;
}
.numb_prod_wrapper .numbers {
  text-align: center;
  margin: 43px 0 6px;
}
.numb_prod_wrapper .numbers span {
  font: 32px/32px Georgia;
  font-style: italic;
  font-weight: bold;
  color: #ffcc00;
}
.numb_prod_wrapper .numb_text {
  font: 15px/15px Georgia;
  font-style: italic;
  color: #a47833;
  text-align: center;
}

.opinion .numb_prod_wrapper, .advices .numb_prod_wrapper {
  position: absolute;
  top: 490px;
  left: 30px;
  width: 99px;
  height: 99px;
  background: url(../img/opinion/numb.png) no-repeat;
}
.opinion .numb_prod_wrapper .numbers, .advices .numb_prod_wrapper .numbers {
  text-align: center;
  margin: 1px 0 6px;
}
.opinion .numb_prod_wrapper .numbers span, .advices .numb_prod_wrapper .numbers span {
  font: 24px/24px Georgia;
  font-style: italic;
  font-weight: bold;
  color: #7bc142;
}
.opinion .numb_prod_wrapper .numb_text, .advices .numb_prod_wrapper .numb_text {
  font: 15px/15px Georgia;
  font-style: italic;
  color: #a47833;
  text-align: center;
  padding: 27px 0 0 0;
}

/*-------------- main page presents counter*/
.presents_counter {
  width: 1054px;
  height: 100px;
  margin: 0 auto 40px;
  text-align: center;
}
.presents_counter .present_block {
  display: inline-block;
}
.presents_counter .present_image {
  float: left;
  width: 59px;
  height: 89px;
  background: url(../img/prizes.png) no-repeat;
}
.presents_counter .rub100_tel, .presents_counter .rub30_tel {
  border-right: #b0b0ae 1px dotted;
  margin: 0 25px 0 0;
  padding-right: 30px;
}
.presents_counter .rub30_tel .present_image {
  background-position: 4px 0;
}
.presents_counter .rub100_tel .present_image {
  background-position: -76px 0;
}
.presents_counter .rub_shopinng .present_image {
  background-position: -158px 0;
}
.presents_counter .present_info {
  float: left;
  margin: 0 0 0 20px;
}
.presents_counter .present_info .top_info {
  text-align: left;
  font-size: 18px;
  color: #484848;
  font-family: 'helveticaneue_medium';
  font-weight: bold;
}
.presents_counter .present_info .top_info .thin_text {
  font-family: 'helveticaneue_light';
  font-weight: normal;
}
.presents_counter .bottom_info {
  margin: 17px 0 0;
  overflow: hidden;
}
.presents_counter .bottom_info .bot_text {
  text-align: left;
  float: left;
  font-size: 15px;
  line-height: 14px;
  font-family: 'helveticaneue_light';
  color: #7c7c7c;
}
.presents_counter .counter_wrapper {
  float: left;
  margin: 0 0 0 10px;
  padding-right: 4px;
}
.presents_counter .counter_wrapper .counter_item {
  display: inline-block;
  background: #ffc500;
  color: #ffffff;
  border-radius: 2px;
  font-size: 24px;
  line-height: 28px;
  font-family: 'helveticaneue_medium';
  margin: 0 -2px 0 0;
  padding: 0 5px;
}
/*-------------- products page sections*/
.product .sections_container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.product .sections_container .section {
  width: 552px;
  position: relative;
  margin: 0 auto 30px;
}
.product .sections_container .section .line {
  margin-bottom: 10px;
}
.product .section .main_block {
  width: 100%;
  height: 218px;
}
.product .section .main_block.big {
  width: 100%;
}
.product .section .main_block_text {
  width: 208px;
  height: 183px;
  padding: 35px 0 0 20px;
}
.product .section .big .main_block_text {
  background: #c3240b;
}
.product .section .big .main_block_text .block_title {
  color: #ffffff;
}
.product .novinki .main_block_text .block_info {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.product .section .main_block_img {
  width: 324px;
}
.product .section .main_block_text .block_title {
  font: 26px/26px 'helveticaneue_regular';
}
.section .section_bottom_bg {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 35px;
  background: url(../img/products/blocks_bottom_bg.png) no-repeat 0 0;
  border-radius: 0 0 30px 30px;
}
/*-------------- special blocks styles*/
.video_recipes .rc_arrow {
  border-left: 12px solid #c3240b;
}
.video_recipes .main_block_text .block_title {
  color: #ffffff;
}
.video_recipes .main_block_text .block_info {
  color: #ffffff;
}
.video_recipes .main_block_text {
  background: #c3240b;
}
.video_recipes .main_block_img .play_video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/sections/play.png) no-repeat center;
}
.section .buy_btn {
  display: block;
  width: 154px;
  height: 37px;
  background: #c3240b;
  font: 16px/37px 'helveticaneue_light';
  color: #e6caa5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 35px 0 0 34px;
}
.novinki .main_block_text .block_info {
  font: 16px/18px 'helveticaneue_light';
  color: #b78c4a;
  width: 225px;
}
.novinki .info_block .img_wr {
  padding-top: 60px;
}
.about_brand .info_block .img_wr {
  padding-top: 45px;
}
/*-------------- main content */
.content {
  width: 1046px;
  margin: 0 auto 100px;
  padding: 30px 40px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 1px 30px rgba(119,87,49,0.13);
}
.content.product, .content.opinion, .content.advices, .content.promos {
  width: 1154px;
  padding: 25px 0 0;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}
.content.opinion {
  position: relative;
  margin-bottom: 30px;
}

h1 {
  font: 44px/34px 'helveticaneue_regular';
  color: #c54025;
  text-align: center;
  margin: 25px 0;
}
.product h1 {
  font-size: 46px;
  line-height: 46px;
  margin: 0 auto 60px;
}
.f_line {
  height: 1px;
  width: 746px;
  background: #d3be9d;
  margin: 0 auto 20px;
}

/*------------- opinion page*/
.costumers_opinions {
  position: absolute;
  top: 0;
  right: 0;
  width: 406px;
  height: 466px;
  margin: 60px 0 0 0;
  overflow: hidden;
}
.costumers_opinions .op_title{
  font: 28px/30px 'helveticaneue_light';
  color: #c54025;
  margin: 0 0 50px 0;
}
.costumers_opinions .op_line {
  display: block;
  width: 85px;
  height: 4px;
  background: #7bc142;
  margin: 16px 0 0 0;
}
.costumers_opinions .opinions_block .opinions_wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}
.costumers_opinions .opinions_block .opinion_item {
  margin: 0 0 30px 0;
}
.costumers_opinions .opinions_block .meta {
  font: 15px/24px Georgia;
  font-style: italic;
  color: #c54025;
}
.costumers_opinions .opinions_block .meta .date {
  color: #c4c4c4;
}
.costumers_opinions .opinions_block .message {
  position: relative;
  font: 16px/24px 'helveticaneue_light';
  color: #a47833;
  margin-left: 25px;
}
.costumers_opinions .opinions_block .message:before {
  position: absolute;
  top: 0;
  left: -25px;
  width: 15px;
  height: 15px;
  content: '—';
}

/*---------------- advices*/
.content.advices {
  padding-top: 155px;
  margin-bottom: 30px;
}
.advices_wrapper {
  width: 525px;
  top: 110px;
}
.advice_item p {
  font: 16px/22px 'helveticaneue_light';
  color: #777777;
  margin-bottom: 20px;
}
.advice_item p.attention {
  font-family: Georgia;
  font-style: italic;
}
.advices_wrapper .ad_title {
  font: 24px/30px 'helveticaneue_light';
  color: #c54025;
  margin: 0 0 15px 0;
}
.advices .numb_prod_wrapper {
  top: -120px;
  left: 545px;
}
/*--------------------- recipe page*/
.recipe .rep_title {
  font: 33px/36px 'helveticaneue_light';
  color: #c54025;
  margin: 0 0 15px 0;
}
.recipe h1 {
  font: 33px/36px 'helveticaneue_regular';
  color: #c54025;
  margin: 0 0 15px 0;
  text-align: left;
}
/*.recipe .recipe_info_wrapper {
  overflow: hidden;
}*/
.recipe .recipe_ingredients {
  margin-bottom: 45px;
}
.recipe .recipe_ingredients,
.recipe .recipe_value {
  font: 16px/24px Georgia;
  font-style: italic;
  color: #a47833;
  float: left;
  width: 185px;
}
.recipe .recipe_ingredients p {
  margin: 0;
}
.recipe .recipe_ingredients h2,
.recipe .recipe_value h2 {
  font: 24px/24px 'helveticaneue_regular';
  color: #c54025;
  margin: 0 0 17px;
  }
.recipe .recipe_text {
  font: 16px/22px 'helveticaneue_regular';
  color: #777777;
  float: right;
  width: 465px;
}
.recipe .recipe_text h1 {
  margin-top: 20px;
  font-size: 30px;
  line-height: 30px;
  color: #a47833;
  font-family: 'MinionPro Bold';
}
.recipe .recipe_text h2 {
  color: #a47833;
  font-size: 24px;
  font-family: 'MinionPro Bold';
  margin-top: 30px;
}
.recipe .recipe_text .instructions {
  padding: 0;
  padding-left: 30px;
  font-family: Georgia;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  color: #777777;
}
.recipe .recipe_text .instructions li {
  float: none;
  width: 435px !important;
  padding: 0 !important;
}
.recipe .recipe_text .author_wrap {
  font-family: 'MinionPro Bold';
  font-size: 18px;
  letter-spacing: -1px;
}
.recipe .recipe_text .instructions li span {
  font-size: 16px;
  font-family: 'helveticaneue_light';
  font-weight: normal;
  font-style: normal;
}
.recipe .recipe_text p {
  font: 16px/22px 'helveticaneue_regular';
  color: #777777;
  float: right;
  margin: 0 0 0 20px;
}
.recipe .coocking_time {
  width: 106px;
  height: 106px;
  background: url(../img/recipes/coocking_time.png) no-repeat;
  position: absolute;
  top: 40px;
  left: 30px;
}
.recipe .coocking_time .text {
  color: #ffffff;
  font-size: 15px;
  line-height: 18px;
  padding-top: 32px;
}
.recipe .coocking_time .text .duration {
  font-size: 33px;
}
.print_recipe {
  display: inline-block;
  font: 17px/17px 'helveticaneue_regular';
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 0;
  margin: 40px 0 10px 80px;
  text-decoration: none;
  background: #7bc142;
  width: 275px;
  text-align: center;
}

/*--------------------- promo page winners*/
.promo_steps {
  width: 900px;
  margin: 100px auto 70px;
}
.promo_steps td{
  width: 50%;
  height: 240px;
  position: relative;
}
.promo_steps td .img_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.promo_steps .al_l{
  text-align: left;
}
.promo_steps .al_r{
  text-align: right;
}
.promo_steps td img {
  position: absolute;
}
.promo_steps td.step01 img {
  top: -57px;
}
.promo_steps td.step02 img {
  top: -56px;
}
.promo_steps td.step03 img {
  top: -12px;
}
.promo_steps td.step04 img {
  top: -16px;
}
.promo_steps td.step03, .promo_steps td.step04 {
  height: 270px;
}
.promo_steps .reg_code {
  display: inline-block;
  font: 17px/17px 'helveticaneue_regular';
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 0;
  margin: 18px 0 0 0;
  text-decoration: none;
  background: #7bc142;
  width: 275px;
  text-align: center;
}
.promo_steps td.al_l img {
  left: 25px;
}
.promo_steps td.al_r img {
  right: 25px;
}
.promo_steps h3 {
  font: 30px/30px 'helveticaneue_regular';
  color: #cd340f;
  margin: 0 0 15px 0;
}
.promo_steps h3 strong {
  font-family: 'helveticaneue_medium';
}
.promo_steps .sub_info {
  font: 18px/22px 'helveticaneue_light';
  color: #a47833;
  display: block;
}
.promo_steps .sub_info_sm {
  font-size: 13px;
  line-height: 18px;
  margin-top: 15px;
}
.promos .line_sm, .promos .line {
  margin: 0 auto;
  height: 1px;
  background: #ddc49a;
}
.promos .line_sm {
  width: 68px;
  margin: 5px auto 15px;
}
.promos .line {
  width: 380px;
}
.promos .rules_wrapper {
  text-align: center;
  font: 15px/24px Georgia;
  font-style: italic;
  color: #a47833;
}
.promos .full_rules {
  text-align: center;
  font: 15px/24px Georgia;
  font-style: italic;
  color: #a47833;
}
.promos h1 {
  font-size: 56px;
  line-height: 56px;
}
.promos h2 {
  text-align: center;
  font: 50px/50px 'helveticaneue_regular';
  color: #c54025;
  margin: 55px auto 30px;
}
.winners {
  width: 833px;
  padding: 10px 0 23px;
  margin: 0 auto;
}
#winners_nav {
  list-style: none;
  padding: 0;
  margin: 16px 0 20px;
  text-align: center;
}
#winners_nav li {
  display: inline-block;
  margin: 0 17px;
}
#winners_nav a {
  font: 13px/24px 'helveticaneue_regular';
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration: none;
}
#winners_nav li.current a {
  color: #cd340f;
  border-bottom: #cd340f 1px solid;
}
#winners_info table {
  width: 100%;
}
#winners_info table th{
  font: 15px/24px 'helveticaneue_medium';
  color: #cd340f;
  text-align: center;
}
#winners_info table td{
  padding: 11px 0;
}
#winners_info table .bg_w {
  background: #ffffff;
}
#winners_info table .br_r {
  background: url(../img/t_bg.png) no-repeat top right;
  padding: 10px 0;
}
#winners_info table .name {
  font: 20px/20px 'helveticaneue_regular';
  color: #976311;
  padding-left: 0/*95px*/;
  width: 50%/*205px*/;
  text-align: center;
}
#winners_info table .date {
  font: 13px/13px 'helveticaneue_light';
  color: #976311;
  width: 240px;
  text-align: center;
}
#winners_info table .prize {
  font: 18px/18px 'helveticaneue_light';
  color: #976311;
  width: 50%/*265px*/;
  padding-left: 0/*30px*/;
  text-align: center;
}
#winners_info table .main_winner {
  background: #cd340f;
}
#winners_info table .main_winner td {
  color: #ffffff;
}
#winners_info table .main_winner .name {
  background: url(../img/winner_bag.png) no-repeat 38px 9px;
}
.promos_winners .rules_wrapper {
  margin-bottom: 35px;
}
.winners_header {
  background: #ffc423;
  border-radius: 30px;
  height: 65px;
  text-align: center;
  padding-top: 10px;
}
.winners_header .navigation {
  display: inline-block;
}
.winners_header span {
  font-size: 30px;
  line-height: 49px;
  font-family: 'helveticaneue_regular';
  color: #ffffff;
}
.winners_header #winners_nav_stage {
  margin: 0;
  display: inline;
  list-style: none;
}
.winners_header #winners_nav_stage li {
  margin: 0 12px;
  display: inline-block;
}
.winners_header #winners_nav_stage a {
  display: block;
  width: 49px;
  height: 49px;
  font-size: 18px;
  line-height: 49px;
  color: #c3240b;
  background: url(../img/winners/winners_sprite.png) no-repeat -55px 0;
  text-decoration: none;
}
.winners_header #winners_nav_stage .active a {
  border: none;
  background-position: -1px 0;
  color: #ffffff;
}
/*---------------- winners carousel*/
.connected-carousels.winners_list .stage {
  width: 833px;
  margin: 40px auto 20px;
}
/*.connected-carousels.winners_list .carousel-stage li {
  width: 833px;
}*/
.carousel-navigation .navigation,
.advice_wrap .navigation {
  width: 833px;
}
.navigation_photo_winner_wrapper {
  position: absolute;
  bottom: -66px;
  right: 0;
}
.navigation_photo_winner {
  width: 833px;
  /*height: 49px;*/
}
.navigation_photo_winner ul {
  text-align: right;
  width: 833px!important;
  left: 0!important;
}
.navigation_photo_winner li {
  margin: 0 0 0 10px;
  width: 49px!important;
  height: 49px;
  float: none;
  display: inline-block;
  cursor: pointer;
  float: none!important;
}
.navigation_photo_winner li .winner_nav {
  overflow: hidden;
  float: left;
}
.navigation_photo_winner li .winner_nav img {
  width: 49px;
  height: 49px;
  border: none;
  overflow: hidden;
  float: left;
}
.navigation_photo_winner li.active .winner_nav,
.navigation_photo_winner li:hover .winner_nav{
  border: #ffc423 2px solid;
}
.navigation_photo_winner li.active .winner_nav img,
.navigation_photo_winner li:hover .winner_nav img{
  margin: -2px;
  opacity: 0.9;
}
.connected-carousels.winners_list .carousel-stage{
  height: 650px;
}
.connected-carousels.winners_list .carousel-stage li{
  width: 833px;
}
.connected-carousels.winners_list .carousel-stage .winner_item {
  height: 584px;
  width: 833px;
  border-radius: 30px;
  background: #ffffff;
}
.connected-carousels.winners_list .carousel-stage .winner_info {
  float: left;
  width: 368px;
}
.connected-carousels.winners_list .carousel-stage .winner_info .winner_name {
  background: #c3240b;
  padding: 30px 0 0 40px;
  height: 95px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  font-family: 'helveticaneue_regular';
  border-radius: 30px 0 0;
}
.connected-carousels.winners_list .carousel-stage .winner_info .winner_name .line {
  display: block;
  margin: 13px 0 0;
  width: 85px;
  height: 4px;
}
.connected-carousels.winners_list .carousel-stage .winner_prize {
  margin: 27px 0 0;
  padding: 0 20px 0 40px;
  width: 290px;
  height: 385px;
}
.connected-carousels.winners_list .carousel-stage .prize_name {
  font-size: 30px;
  line-height: 30px;
  font-family: 'helveticaneue_regular';
  color: #c54025;
  margin-bottom: 70px;
}
.connected-carousels.winners_list .carousel-stage .winner_speech {
  font-size: 18px;
  line-height: 26px;
  font-family: 'helveticaneue_regular';
  font-style: italic;
  color: #a47833;
  position: relative;
  margin: 50px 0;
}
.connected-carousels.winners_list .carousel-stage .winner_speech:before {
  content: '«';
  position: absolute;
  top: -40px;
  left: 0;
  font-family: Georgia;
  font-size: 50px;
  color: #c3240b;
  font-style: normal;
}
.connected-carousels.winners_list .carousel-stage .winner_speech:after {
  content: '»';
  position: absolute;
  bottom: -40px;
  right: 0;
  font-family: Georgia;
  font-size: 50px;
  color: #c3240b;
  font-style: normal;
}
.connected-carousels.winners_list .carousel-stage .winner_image {
  float: right;
  width: 465px;
  height: 584px;
  position: relative;
}
.connected-carousels.winners_list .carousel-stage .winner_image .winner_image_wrapper {
  width: 100%;
  height: 584px;
  overflow: hidden;
  border-radius: 0 30px 30px 0;
}
.connected-carousels.winners_list .carousel-stage .winner_image .winner_image_wrapper img {
  width: 100%;
  height: auto;
  border-radius: 0 30px 30px 0;
}
.winner_prize .jspVerticalBar {
  width: 2px;
  background: #d6d6d6;
}
.winner_prize .jspDrag {
  background: #a4a4a4;
}
.connected-carousels.winners_list .prev-stage, .connected-carousels.winners_list .next-stage {
  width: 21px;
  height: 33px;
  background: url(../img/winners/winners_sprite.png) no-repeat;
  top: 270px;
}
.connected-carousels.winners_list .prev-stage {
  background-position: 0 -148px;
}
.connected-carousels.winners_list .next-stage {
  background-position: -80px -148px;
}
.connected-carousels.winners_list .numb_prod_wrapper {
  width: 91px;
  height: 91px;
  background: url(../img/winners/winners_sprite.png) no-repeat -1px -56px;
  top: -22px;
  right: -35px;
  left: auto;
}
.connected-carousels.winners_list .numb_prod_wrapper .numbers {
  margin-top: 27px;
}
.connected-carousels.winners_list .numb_prod_wrapper .numbers span {
  font-size: 50px;
  color: #ffffff;
  font-weight: normal;
}
/*---------------- main page promo winners */
.promo_winners .promo_btn_pr {
  left: 435px;
  bottom: 80px;
  background: url(../img/promo/promo_bg_btn_want.png) no-repeat;
  width: 226px;
  height: 50px;
  padding: 0;
  box-shadow: 7px 7px 16px rgba(49,255,248,0.06), 0 -7px 16px rgba(49,255,248,0.06), -7px 0 16px rgba(49,255,248,0.06);
}
.promo_winners .winner_photo {
  position: absolute;
  top: 60px;
  left: 135px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(255,196,35); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzQyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjdlMTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left,  rgba(255,196,35,1) 0%, rgba(226,126,19,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,196,35,1)), color-stop(100%,rgba(226,126,19,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,196,35,1) 0%,rgba(226,126,19,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,196,35,1) 0%,rgba(226,126,19,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,196,35,1) 0%,rgba(226,126,19,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,196,35,1) 0%,rgba(226,126,19,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc423', endColorstr='#e27e13',GradientType=1 ); /* IE6-8 */
}
.promo_winners .winner_photo img {
  margin: 6px;
  width: 238px;
  height: 238px;
  border-radius: 50%;
}
.promo_winners .promo_info {
  left: 350px;
  top: 35px;
  width: 745px;
}
.promo_winners .promo_info .title {
  font-size: 52px;
  margin-bottom: 0;
}
.promo_winners .promo_info .info {
  width: 430px;
  color: #986e2a;
}
.promo_winners .promo_info .sub_info {
  color: #dd2c3d;
  font-size: 26px;
  padding-top: 0;
  width: 100%;
}
.promo_winners .promo_info .info .money_prize{
  color: #dd2c3d;
  font-family: 'helveticaneue_regular';
}
.promo_winners .promo_info .line {
  margin-top: 18px;
}
.jcarousel_promo {
  width: 1300px;
  height: 460px;
  overflow: hidden;
  position: relative;
  margin: 0 0 60px -55px;
}
.jcarousel_promo ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel_promo li {
  float: left;
  margin: 0;
}
/*---------------- forms*/
.site_form {
  width: 646px;
  margin: 0 auto;
}
.site_form .info_text {
  margin-bottom: 30px;
  font: 12px/14px Georgia;
  font-style: italic;
  color: #d5410e;
}
.site_form .info_text.green {
  color: #7BC142;
}

.site_form .info_text-2{
  margin-bottom: 30px;
  font: 16px/18px Georgia;
  font-style: italic;
  /*color: #d5410e;*/
  color: #7BC142;
}


.site_form label, .site_form label a {
  display: block;
  font: 16px/20px Georgia;
  color: #a7935e;
  margin-bottom: 5px;
}
.sub_label {
  font-size: 12px;
  color: #a7935e;
  margin-bottom: 15px;
  display: block;
  text-align: left;
}
.captcha_exp {
  color: #a7935e;
  font-size: 26px;
  float: left;
}
#captcha_refresh {
  display: block;
  font: 16px/20px Georgia;
  color: #a7935e;
  margin-bottom: 15px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.site_form label a {
  display: inline;
}
.site_form .radio_wrapper label {
  font-size: 14px;
}
.req {
  color: #c3240b;
}
.site_form input[type="text"], .site_form input[type="email"], .site_form input[type="password"] {
  display: block;
  border: #cda76b 1px solid;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;
  outline: none;
  padding: 8px 15px 7px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
::-webkit-input-placeholder { color: #cda76b; }
:-moz-placeholder { color: #cda76b; }
::-moz-placeholder { color: #cda76b; }
:-ms-input-placeholder { color: #cda76b; }

.site_form .inp_wrapper {
  width: 313px;
  margin-bottom: 20px;
  position: relative;
}
.site_form .inp_wrapper.hide {
  display: none;
}
.site_form .inp_wrapper.show {
  display: block;
}

.site_form .inp_wrapper.other_city {
  float: right;
}
.site_form .inp_wrapper .registered-phone {
  display: block;
  border: #cda76b 1px solid;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;
  outline: none;
  padding: 8px 15px 7px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  background: #e4e4e4;
}
.site_form .inp_name, .site_form .inp_secondname {
  /*width: 210px;*/
}
.site_form .inp_secondname {
  margin-right: 20px;
}
.site_form .inp_bdate {
  width: /*185*/275px;
}
.site_form .inp_bdate .day, .site_form .inp_bdate .month {
  width: 80px;
  float: left;
  margin-right: 5px;
}
.site_form .inp_bdate .year {
  width: 98px;
  float: left;
}
.site_form .inp_bdate .day div.fancy-select div.trigger, .site_form .inp_bdate .month div.fancy-select div.trigger {
  width: 80px;
}

.site_form .inp_bdate .year div.fancy-select div.trigger {
  width: 98px;
}
.site_form .inp_lab {
  width: 60px;
  margin-left: 58px;
}
.site_form .radio_wrapper {
  width: /*155*/125px;
  margin-right: 32px;
  margin-top: -12px;
}

.site_form input[type=submit] {
  display: block;
  background: #d5410e;
  text-transform: uppercase;
  font: 20px/25px 'helveticaneue_light';
  color: #ffffff;
  border: none;
  outline: none;
  margin: 60px auto 10px;
  padding: 10px 50px 10px;
  letter-spacing: 2px;
}
.site_form .error_text {
  font: 16px/20px Georgia;
  color: #a7935e;
}
.site_form .error_message {
  font: 16px/20px Georgia;
  color: #c3240b;
  text-align: center;
}
.site_form input.error, .site_form div.error, .site_form textarea.error {
  border: #c54025 2px solid!important;
  color: #c54025!important;
  padding: 7px 15px 6px;
}
.site_form div.error.trigger:before {
  top: 2px;
}
.site_form .error_message ul {
  list-style: none;
  padding: 0;
}
.site_form .mob_tel {
  position: relative;
}
.site_form .mob_tel input {
  padding-left: 55px;
}
.site_form .mob_tel:before {
  content: "+7";
  display: block;
  position: absolute;
  width: 29px;
  height: 26px;
  bottom: 1px;
  left: 1px;
  background: #f0e4d2;
  border-right: #cda76b 1px solid;
  color: #9f732e;
  padding: 7px 0 0 9px;
}
.site_form .enter_captcha {
  width: 160px;
}
.site_form .f_inner_line {
  height: 1px;
  width: 100%;
  background: #d3be9d;
  margin: 10px auto 30px;
}
/*------ registration finish */
 .text {
  font: 18px/22px Georgia;
  font-style: italic;
  color: #a7935e;
  text-align: center;
   margin-bottom: 30px;
}
.site_form .text_sm {
  font: 14px/18px Georgia;
  font-style: italic;
  color: #a7935e;
  text-align: left;
  margin-bottom: 20px;
}
.site_form .text_smm, .site_form .text_smm a {
  font: 12px/16px 'helveticaneue_regular';
  color: #888888;
  text-align: left;
}
.text_bott, .text_bott a {
  font: 14px/18px Georgia;
  font-style: italic;
  color: #c54025;
  text-align: center;
}
.site_form .text_wrapper {
  width: 60%;
}
.registration_wrap h1 {
  font-size: 47px;
}
.registration_wrap .enter {
  display: block;
  text-align: center;
  color: #7d5318;
  font-size: 16px;
  font-family: Georgia;
  font-style: italic;
  margin-top: 35px;
  margin-bottom: 10px;
}
.registration_wrap .social_wrap {
  width: 380px;
  margin: auto;
  margin-top: 30px;
}
.registration_wrap .social_wrap a {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 54px;
  display: table;
  margin-bottom: 20px;
  position: relative;
  font-family: 'helveticaneue_regular';
}
.registration_wrap .social_wrap div {
  width: 56px;
  display: table-cell;
  text-align: center;
  padding-right: 15px;
}
.registration_wrap .social_wrap div {
  background: url(../img/social_border.png) no-repeat 54px;
}
.registration_wrap .social_wrap div img {
  vertical-align: middle;
}


.registration_wrap .social_wrap .fb {
  background: #4061A4;
}
.registration_wrap .social_wrap .vk {
  background: #387194;
}
.registration_wrap .social_wrap .oc {
  background: #F17A00;
}

#registration_form_finish .inp_wrapper {
  width: 228px;
}
#registration_form_finish input[type=submit] {
  text-transform: none;
  font-size: 16px;
  line-height: 16px;
  padding: 9px 55px 10px;
  margin: 20px auto 10px;
}
#registration_form_finish .row {
  width: 93%;
  margin: 0 auto;
}
.overlay_container .site_form {
  width: 360px;
}
#registration_code .overlay_container .site_form {
  width: 340px;
}
.overlay_container h3 {
   font: 28px/30px 'helveticaneue_regular';
   color: #c54025;
   margin: 0 0 30px 0;
 }
.overlay_container .site_form .inp_wrapper {
  width: 100%;
}
.overlay_container .site_form label {
  margin-top: 7px;
  text-align: left;
}
.overlay_container .site_form label.mtop {
  margin-top: 0;
}
.overlay_container .site_form input[type=text], .overlay_container .site_form input[type=password], .overlay_container .site_form input[type=email] {
  width: 165px;
}
.overlay_container #feedback_form.site_form input[type=text], .overlay_container #feedback_form.site_form input[type=password],
.overlay_container #feedback_form.site_form input[type=email] {
  width: 300px;
}

.overlay_container input[type=submit] {
  font: 16px/16px 'helveticaneue_light';
  padding: 8px 40px;
  margin: 40px auto 10px;
}
.overlay_container .site_form .enter_btn {
  margin: 30px auto;
  line-height: 38px;
  width: 218px;
}
.overlay_container .site_form .form_links {
  font: 12px/14px Georgia;
  color: #a7935e;
  letter-spacing: 0.5px;
}
.overlay_container .site_form .arrow {
  display: block;
  width: 10px;
  height: 12px;
 /* background: url(../img/arrow.png) no-repeat;*/
  float: left;
  margin: 1px 0 0 14px;
  color: #a7935e;
  font-size: 26px;
}
.overlay_container .site_form .feed_select {
  width: 300px;
}

/*------ checkboxes */
.checkbox_wrapper {
  margin-bottom: 20px;
  position: relative;
}
.checkbox_wrapper label {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 3px;
}
.checkbox_wrapper input[type="checkbox"] {
  position: absolute;
  top: -2px;
  width: 24px;
  height: 22px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.checkbox_wrapper .check_wr {
  display: block;
  width: 24px;
  height: 22px;
  position: absolute;
  top: -2px;
  left: 0;
  background: url(../img/check_radio.png) no-repeat 0 -65px;
}
.checkbox_wrapper .check_wr + input[type="checkbox"]:checked { background-position: 0 -105px;}
#uthorization .checkbox_wrapper {
  margin: 0 10px 0 0;
}
#uthorization .site_form .info_text {
  margin-top: -10px;
  margin-bottom: 20px;
}
#restore_password .site_form label {
  float: none;
  text-align: center;
}
#restore_password .site_form input[type=text] {
  float: none;
  margin: 20px auto 0;
}

.overlay_container .feed_text {
  font: 12px/14px Georgia;
  color: #a7935e;
  margin: -10px auto 30px;
}
.overlay_container #feedback_form textarea{
  width: 388px;
  outline: none;
  border: #cda76b 1px solid;
  resize: none;
  height: 120px;
  padding: 8px 15px 7px;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;
}
.overlay_container input[type=submit].send_feed_btn {
  line-height: 38px;
  width: 220px;
}
/*------ radio */
.radio_wrapper {
  position: relative;
}
.radio_wrapper label {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 0 0 30px;
}
.radio_wrapper input[type="radio"] {
  position: absolute;
  top: -2px;
  width: 17px;
  height: 17px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.radio_wrapper .radio_wr {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 1px;
  left: 0;
  background: url(../img/check_radio.png) no-repeat 0 0;
}
.radio_wrapper .radio_wr.active {
  background: url(../img/check_radio.png);
  background-position: 0 -30px;
}
.radio_wrapper .radio_wr + input[type="checkbox"]:checked { background-position: 0 -30px;}

/*--------------- cap*/

.cap {
  width: 640px;
  height: 545px;
  background: url(../img/cap.jpg) no-repeat 8px 0;
  margin: 0 auto;
  text-align: center;
}
.cap a {
  font: 15px/15px Georgia;
  font-style: italic;
  color: #a47833;
}
.cap .line {
  width: 85px;
  height: 4px;
  background: #ffc423;
  margin-bottom: 20px;
  margin: 30px auto;
}
.cap .cap_text {
  font: 45px/48px 'helveticaneue_light';
  color: #c54025;
  height: 400px;
  padding: 120px 0 0 0;
}
/*--------------- custom select */

.fancified {
  width: 1;
  height: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

div.fancy-select {
  position: relative;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;

}

div.fancy-select div.trigger {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: #cda76b 1px solid;
  width: 100%;
  padding: 9px 15px 8px 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  height: 35px;
}

div.fancy-select div.trigger:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #7bc142;
  top: 15px;
  left: 15px;
}
div.fancy-select div.trigger:before {
  content: "";
  display: block;
  position: absolute;
  width: 38px;
  height: 33px;
  top: 1px;
  left: 1px;
  background: #f0e4d2;
  border-right: #cda76b 1px solid;
}

#feedback_form div.fancy-select div.trigger:after {
  border-top-color: #a7935e;
  right: 15px;
  left: auto;
}
#feedback_form div.fancy-select div.trigger:before {
  content: "";
  display: none;
}


div.fancy-select ul.options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 33px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  max-height: 200px;
  overflow: auto;
  background: #ffffff;
  min-width: 311px;
  border: #cda76b 1px solid;

  transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;

}

div.fancy-select ul.options.open {
  visibility: visible;
  top: 33px;
  opacity: 1;

  /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
  /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
  transition: opacity 300ms ease-out, top 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
  -o-transition: opacity 300ms ease-out, top 300ms ease-out;

}

div.fancy-select ul.options.overflowing {
  top: auto;
  bottom: 33px;

  transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
  top: auto;
  bottom: 33px;
  padding-right: 20px;
  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
  -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
  padding: 7px 10px;
  cursor: pointer;
  white-space: nowrap;

  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
  background: #ebeaea;
}

div.fancy-select ul.options li.hover {
  background: #dad7d7;
}

.inp_bdate div.fancy-select {
  float: left;
  margin-right: 5px;
}
.inp_bdate div.fancy-select div.trigger {
  padding: 9px 10px 8px 50px;
  height: 35px;
}
#cabinet_form .inp_bdate .year div.fancy-select div.trigger {
  /*margin-top: 10px;*/
}

.inp_bdate div.fancy-select ul.options {
  min-width: 78px;
}
.inp_bdate .year div.fancy-select ul.options {
  min-width: 96px;
}
#feedback_form div.fancy-select div.trigger:after {
  border-top-color: #a7935e;
  right: 15px;
  left: auto;
}
#feedback_form div.fancy-select div.trigger:before {
  content: "";
  display: none;
}
#feedback_form div.fancy-select div.trigger {
 padding: 9px 40px 8px 10px;
  text-transform: none;
  text-align: left;
}
#feedback_form div.fancy-select ul.options {
  min-width: 298px;
  text-align: left;
}

/*---------------------cabinet-------------------------*/


.l_side{width:270px;float:left;}

.site_form .l_side input{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight:bold;
}
.l_side .inp_bdate{width:100%;}
.l_side .mob_tel{width:100%;}
.l_side .inp_wrapper{width:100%;}


.l_side .inp_wrapper_lc{margin-bottom: 12px;width:100%;}
.change_password{width:100%; clear:both;margin-bottom:30px;}
.change_password a{
  text-align:right;
  font-style: italic;
  color: #a7935e;
  font-size:14px;
  cursor:pointer;
  text-decoration: underline;
  display: block;
  font-family: Georgia;
}

/*-----------------------------------------*/
.r_side{width:350px;float:right;}
.site_form .r_side #reg_code_btn{
  display: block;
  background: #d5410e;
  font: 16px/37px 'helveticaneue_light';
  text-transform: none;
  font-weight: bold;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 24px auto 42px;
  padding: 0 24px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  width: 210px;
}
.bl_y_codes{
  width:93%;
  border:1px solid #cda76b;
  padding: 10px 10px 0 10px;

}
.y_codes{
  width:100%;
  font-family:'helveticaneue_light';
}
.y_codes .t_tabl{
  padding: 6px 0 14px 0;
}
.y_codes td{
  padding-left:6px;
  color:#cda76b;
  font-size: 12px;
  text-align:center;
  width:29%;
  height: 27px;
}
.y_codes .tabl_line >td{
  padding-bottom: 10px;
  height: 0;
}

.last_td{
  border-top:1px solid #cda76b;
}
.last_td a{text-decoration: none; border-bottom: 1px dashed #cda76b;cursor:pointer;}
.last_td a:hover{border-bottom:none;}

/*--------------grac------------------------*/
.l_side .prize_item {
  border: 1px solid #cda76b;
  margin-bottom: 10px;
  position: relative;
}
.l_side .prize_item .pr_info {
  text-align: center;
  display: block;
  padding: 82px 0;
  font-family: Georgia;
  font-size: 16px;
  color: #a7935e;
}
.grac { width:100%; margin-bottom: 16px;}
.fon_line{height:94px;width:100%; background:url("../img/bg/pete_line.png") no-repeat center;}
.fon_line div{
  background: url("../img/telefon_grac.png") no-repeat center;
  width: 100%;
  height: 94px;
}
.line1{
  font-family: 'helveticaneue_regular';
  font-size: 14px;
  color: #cda76b;
  display:block;
  text-align:center;
  text-transform:uppercase;
}
.line2{
  display:block;
  text-align:center;
  font-size: 10px;
  font-family:'helveticaneue_light';
  color: #cda76b;
  margin-bottom: 8px;
  text-transform:uppercase;
}
.num_prize{
  font-size: 60px;
  color:#d5410e;
  font-family: 'helveticaneue_regular';
  display:block;
  text-align:center;
}
.valuta{
  color:#d5410e;
  font-size: 12px;
  font-family:'helveticaneue_light';
  display:block;
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}
.line3{
  font-size: 14px;
  font-family:'Georgia';
  color: #cda76b;
  display:block;
  text-align:center;
  line-height: 24px;
}
.act_code2{display: none;}
.act_code a, .act_code2 a{
  font-size: 12px;
  color: #a7935e;
  font-family: 'helveticaneue_light';
  text-decoration: underline;
  cursor: pointer;
  bottom: 0;
  margin-bottom: 12px;
  position: absolute;
  left: 78px;
}
.fon_line2{
  height: 36px;
  width: 100%;
  background: url("../img/bg/pete_line.png") no-repeat center 14px;

}
.gain{
  /*border-top:1px solid #cda76b;*/
  width:100%;font-size:12px; font-family: 'Georgia';
  display: none;
}
.title_gain{text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #a7935e;

}
.wrap_gain{padding: 0 8%;margin-bottom: 25px;}
.congrac{color:#d5410e;margin-bottom: 10px;margin-top: 10px;font-weight: bold;}

.reg_cod{margin-top: 10px;color:#a7935e;}

.sc_cod{color:#7bc142;margin-top: 10px;}



/*-------------------------*/
.y_codes .t_tabl, .prizes .t_tabl{
  text-align: center;
  text-transform: uppercase;
  font-size:14px;
  color:#a7935e;
  height: 0;
}
/*------------your prizes-------------------*/
.bl_y_prizes{
  width:94%;
  border:1px solid #cda76b;
  /*border-top:1px solid #cda76b;*/
  padding: 10px;
  position: relative;
}
.prizes{
  width: 100%;
  font-family:'helveticaneue_light';
  margin-bottom: 20px;
}
.prizes tr{height:36px;}
.prizes td{padding-left:6px; color:#cda76b;font-size: 12px;text-align: center; }

.prizes .t_tabl{padding: 5px 0 12px;}


.prizes tr >.fst_td{
  width:178px;
  text-align: left;
}
.prizes tr >.fst_td .cancelled{
  color: rgb(123, 193, 66);
}
.prizes .tabl_line >td, .y_codes .tabl_line >td{
  border-bottom:1px solid #cda76b;
  font-family: Georgia;
  font-size:16px;
  color:#a7935e;
}

.prizes .tabl_line >.fst_td {text-align: left;}
.prize_info {
  color:#a7935e;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  font-family:'helveticaneue_light';
  font-size: 12px;
  padding-left: 7px;
  line-height: 7px;
  position: absolute;
  bottom:0;
  margin-bottom: 15px;
}


.bottom_content{
  /*background: url("../img/bg/back_bott_table.png") 0 bottom no-repeat;*/
  position: relative;

}
.bottom_content .r_side {width:349px;}
/*.bottom_content .l_side { border-top: 1px solid #cda76b;}*/


/*------------- overlay*/
.overlay_wrapper {
  display: block;
  background: transparent;
  width: 100%;
  min-width: 500px;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.overlay_n{
  width: 440px;
  padding: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 1px 30px rgba(119,87,49,0.4);
}
.overlay_n#feedback {
  width: 480px;
}
.overlay_container #feedback_form {
  width: 420px;
}

.close {
  position: absolute;
  z-index: 3;
  background: url(../img/close.png) no-repeat;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.auxiliary {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

/*----------------- jscrollpane*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
  overflow: hidden;
  position: relative;
}

.jspPane
{
  position: absolute;
}

.jspVerticalBar
{
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: url(../img/scroll_bg.gif) repeat-y;
}

.jspHorizontalBar
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: url(../img/scroll_bg.gif) repeat-y;
}

.jspCap
{
  display: none;
}

.jspHorizontalBar .jspCap
{
  float: left;
}

.jspTrack
{
  /*background: #dde;*/
  position: relative;
}

.jspDrag
{
  background: #c54025;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 3px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
  float: left;
  height: 100%;
}

.jspArrow
{
  /*background: #50506d;*/
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspVerticalBar .jspArrow
{
  height: 16px;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
  outline: none;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}
.scroll-pane
{
  width: 100%;
  height: 360px;
  overflow: auto;

}
.scroll-pane:focus {
  outline: none;
}
.prize_activ.l_side{
    width:225px;
}

.pecipe_print {
  font-family: 'Times New Roman';
  font-size: 15px;
}
.pecipe_print .print_title {
     font-size: 19px;
     font-weight: bold;
   }
@media print {
 body {
   font-family: 'Times New Roman';
   font-size: 15px;
 }
  .print_title {
    font-size: 19px;
    font-weight: bold;
  }
}


/* New style
****************/

.recipe-nav {
    display: block;
    text-align: center;
    width: 220px;
    margin: 0 auto 42px;
    overflow: hidden;
    left: 45%;
}
.recipe-nav a.rec-nav-prev {display:block; width: 41px; float:left;
height: 62px; background: url(../img/opinion/nav.png) 0 0 no-repeat;
margin-right: 20px;
    margin-top: 20px;
}

.rec-nav-wrapper {
    display: block;
    width: 99px;
    height: 99px;
    background: url(../img/opinion/numb.png) no-repeat;
    position: absolute;
    left: 46%;
}

.rec-nav-wrapper p{font: 15px/0 Georgia;
font-style: italic;
color: #a47833;
text-align: center;
padding: 20px 0 0 0;}

.rec-nav-num{text-align: center;
margin: 1px 0 6px;}

.recipe-nav a.rec-nav-next {display:block; width: 41px; float:right; margin-top: 20px;
height: 62px; background: url(../img/opinion/nav.png) 100% 100% no-repeat;}

.rec-nav-num{
    font: 24px/16px Georgia;
    letter-spacing: -3px;
    font-style: italic;
    font-weight: bold;
    color: #7bc142;
    }



.recipt-wrapper .video_wrapper {width: 579px; float:left; position:relative;}
.recipt-wrapper .video_wrapper .img_wrapper{height: 313px;border: 10px solid #7bc142; width: 557px; /*height:340px;*/border-radius: 5px; position: relative;
box-shadow: 0px 12px 17px rgba(0,0,0,0.2), 0px 1px 10px rgba(0,0,0,0.2);
margin-bottom: 30px;}

.recipt-wrapper .video_wrapper .img_wrapper .play {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: url(../img/opinion/play.png) no-repeat center;
cursor: pointer;
}


.recipt-wrapper .video_wrapper .coocking_time {
background:none; top: 0; left: 15px;
}

.recipt-wrapper .video_wrapper .info {position: relative; margin-bottom: 130px;}
.recipt-wrapper .video_wrapper .ingredients { width: 289px; float: left;}
.recipt-wrapper .video_wrapper .ingredients a.btn { position: absolute; bottom: -100px;}
.recipt-wrapper .video_wrapper .ingredients a.btn_green {width: 275px;}
.recipt-wrapper .video_wrapper .ingredients a.btn_red {width: 160px; left: 285px;}
.recipt-wrapper .video_wrapper .value { width: 289px; float: right;}
.recipt-wrapper .video_wrapper .ingredients h2,
.recipt-wrapper .video_wrapper .value h2 {font: 24px/24px 'helveticaneue_regular';color: #c54025;}
.recipt-wrapper .video_wrapper .ingredients p,
.recipt-wrapper .video_wrapper .value span {margin:0; color:#a47833;  font: 16px/24px Georgia; font-style: italic;}


.recipt-wrapper .info_wrapper {width: 580px; float:right; margin-bottom: 80px;}

.recipt-wrapper .info_wrapper .line {
    width: 85px;
    height: 4px;
    background: #7bc142;
}

.recipt-wrapper .info_wrapper .recipe_info_wrapper{
    color:#777; font: 16px/22px 'helveticaneue_light';
}

.recipt-wrapper .info_wrapper .recipe_info_wrapper .pic{
border: 10px solid #fff; border-radius: 5px; position: relative;
box-shadow: 0px 12px 17px rgba(0,0,0,0.2), 0px 1px 10px rgba(0,0,0,0.2);
    margin-top: 20px; margin-bottom: 30px;
}

.recipt-wrapper .info_wrapper .recipe_info_wrapper .pic img{display:block;}

.recipt-wrapper .info_wrapper .recipe_info_wrapper .pic .step{position:absolute; top: 10px; left: 10px; height:47px; width:47px; border-radius:50px; border: 5px solid #fff; text-align:center; font: 36px/42px Georgia; font-style: italic; color:#fff;}


.recipt-wrapper .sl_line{margin: 20px auto; background: #a3886a;
width: 100%; clear:both;
height: 1px;}

.recipt-wrapper .prod_title {
font: 24px/30px 'helveticaneue_regular';
color: #c54025;
margin-bottom: 40px;
}

.recipt-wrapper .navigation {

    margin: 20px auto;
    position: relative;
    overflow:hidden;
}

.recipt-wrapper .navigation ul li{
    width: 355px;
    margin: 0 30px 0 0;
    display:block; float:left;
}

.recipt-wrapper .navigation ul li .img_wrapper {
width: 150px;
height: 150px;
border: none;
background: url(../img/recipes/sm_shadow.png) no-repeat -1px 33px;
margin-right: 7px;
    float: left;
text-align: center;
position: relative;
}


.recipt-wrapper .navigation ul li .img_wrapper .inner_wrapper {
width: 104px;
height: 104px;
border: none;
border-radius: 15px;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
overflow: hidden;
margin: 20px;}

.recipt-wrapper .navigation ul li .img_wrapper img {
width: auto;
height: auto;
transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
margin: -55px;
}

.navigation li .prod_title {
    font-size:18px; line-height:18px;

text-align: left;
font-family: 'helveticaneue_light';
color: #c54025;
padding-top: 40px;

margin-bottom: 0;
}
.navigation li a{text-decoration:none;}

.navigation li.active .prod_title {
color: #d4d4d4;
}

.navigation li.active .img_wrapper .inner_wrapper {
border: 3px #ffcc00 solid!important;
margin: 17px!important;
}

.navigation li:hover .prod_title{color: #d4d4d4;}
.navigation li:hover .img_wrapper .inner_wrapper{
border: 3px #ffcc00 solid!important;
margin: 17px!important;
}






















.stage .sub_nav_wrapper {
  width: 100%;
}
.recipt-images .img_wrapper {
  float: left;
  margin: 0 21px;
  width: 550px;
  height: 400px;
  text-align: center;
}
.recipt-images .img_wrapper img {
  width: 100%;
  height: 100%;
}
.recipt-images .img_wrapper {
  position: relative;
  float: none;
  margin: 0 30px;
  width: 557px;
  height: 340px;
  text-align: center;
  border: 10px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 12px 17px rgba(0,0,0,0.2), 0px 1px 10px rgba(0,0,0,0.2);
}
.recipt-images .img_wrapper {
  height: 313px;
}
.recipt-images .img_wrapper {
  margin: 0;
  float: left;
}
.recipt-images .img_wrapper .play {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/opinion/play.png) no-repeat center;
  cursor: pointer;
}
.recipt-images .img_wrapper {
  width: 450px;
  height: 400px;
  border: none;
  box-shadow: none;
  background: url(../img/recipes/b_shadow.png) no-repeat -11px 25px;

}
.recipt-images .inner_wrapper {
  width: 320px;
  height: 320px;
  border-radius: 30px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Safari and Chrome */
  overflow: hidden;
  margin: 35px 0 0 65px;
}


.recipt-images .img_wrapper img {
  vertical-align: bottom;
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg); /* IE 9 */
  -webkit-transform:rotate(-45deg); /* Safari and Chrome */
  width: auto;
  height: auto;
  margin: -70px;
}

.recipt-images .info_wrapper {width: 680px;}
.recipt-images .info_wrapper  .line{margin-bottom: 20px;}







.stage .with_shaf {
  margin-top: 50px;
  margin-bottom: 25px;
}
.stage .with_shaf h1 {
  font-size: 47px;
  text-align: left;
  text-indent: -3px;
  margin-bottom: 10px;
  margin-top: 0;
}
.stage .with_shaf p {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-right: 40px;
  font-size: 16px;
  color: #777777;
  font-family: 'helveticaneue_regular';
  line-height: 22px;
}
.stage .with_shaf p:nth-child(3) {
  padding-right: 15px;
  float: right;
  width: 555px;
}
.stage .tips {
}
.stage .tips h1 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
}
.stage .tips ul {
  padding-left: 0;
}
.stage .tips li {
  list-style: none;
}
.stage .tips .recipe-item .prod_title {
  padding-top: 49px !important;
}
.rec-list>.prod_title{font: 24px/30px 'helveticaneue_regular';
color: #c54025;
margin-bottom: 40px;}

.tabs {
  text-align: center;
  position: relative;
  height: 36px;
  margin: 40px 0 0;
}
.tabs a.recipes_a {
    display: inline-block;
    padding: 11px 19px 9px;
    font-size: 15px;
    color: #c54025;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 3px;
    font: 22px/16px Georgia;
    font-style: italic;
}
.tabs a.recipes_a span {border-bottom: 1px dashed #c54025;}

.tabs a.active {
    background: #c54025;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:#fff;
}
.tabs a.back {
  position: absolute;
  left: 0;
  font-family: 'Georgia';
    font-style: italic;
  font-size: 16px;
    color: #c54025;
    text-decoration: none;
}
.tabs a.back span {

    border-bottom: 1px dashed #c54025;
}
.tabs a.back:before {
  content: '';
  background: url(../img/sections/back.png) no-repeat;
  width: 16px;
  height: 7px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.tabs form {
  position: absolute;
  right: 0;
  top: -20px;
}
.tabs form a.search {
  width: 14px;
  height: 14px;
  background: url(../img/search.png) no-repeat;
  position: absolute;
  right: 8px;
  bottom: -10px;
}

.rec-list .numb_prod_wrapper {top: -220px!important;}
.rec-list .connected-carousels .prev-stage, .recipe .connected-carousels .next-stage  {top: -203px;}

.rec-list .navigation{display:none;}







.controls {
  display: table;
}
.controls a,
.controls .arrow {
  display: table-cell;
  vertical-align: middle;
}
.controls > a.cur,
.controls > a:hover {
  /* background image removed */
  background: #7bc142;
  color: white;
}
.controls > a {
  margin: 0 3px;
  display: inline-block;
  width: 33px;
  height: 33px;
  background: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-family: Georgia;
  font-weight: bold;
  font-size: 22px;
  color: #7bc142;
}
.controls .arrow a {
  display: inline-block;
  width: 23px;
  height: 33px;
  background: url(../img/opinion/nav.png);
  text-align: center;
  background-size: 62px 34px;
  outline: 0;
}
.controls .prev {
  padding-right: 10px;
}
.controls .next {
  padding-left: 10px;
}
.controls .next a {
  background-position: -39px 0;
}
.recipe_list_wrap {
  padding: 0;
  list-style: none;
}
#recipe-list .recipe-item {
cursor: pointer;
width: 355px;
margin: 20px 50px 20px 0;
    display:block;
    float:left;
}

#recipe-list .recipe-item .img_wrapper {
width: 180px;
height: 180px;
border: none;
background: url(../img/recipes/sm_shadow.png) no-repeat 3px 35px;
background-size: 180px;
float: left;
padding-left: 10px;
margin-right: 3px;
position: relative;
}


#recipe-list .recipe-item .img_wrapper .inner_wrapper {
width: 130px;
height: 130px;
border: none;
border-radius: 18px;
transform: rotate(45deg);
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
overflow: hidden;
margin: 20px;}

#recipe-list .recipe-item .img_wrapper img {
width: auto;
height: auto;
transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
margin: -35px;
}

#recipe-list .recipe-item .prod_title {
    font-size:18px; line-height:22px;
text-align: left;
font-family: 'helveticaneue_regular';
color: #C44024;
padding-top: 35px;

margin-bottom: 0;
}
#recipe-list .recipe-item a{text-decoration:none;}




#recipe-list .recipe-item:hover .prod_title{color: #777777;}

#recipe-list .recipe-item:nth-child(3n){margin-right:0;}




.video-block {position:relative;}
.video-block .video-mask {position:absolute; top: 0; left: 0; z-index:4;
width:1324px; height:478px; background:url('../img/promo_bg_winner.png') 0 0 no-repeat; display:block; overflow:hidden;}

.video-block .video-romb{display:block; width:629px;  height:620px; background: url('../img/slider-romb.png') 0 0 no-repeat; position:absolute; top: -105px; right: -40px; opacity: 0.8;}

.video-block .video-info{display:block; width: 315px; position:absolute; top:80px; right: 130px; z-index:9; text-align:center;}

.video-block .video-info h1{
font: 48px/30px 'helveticaneue_light';
color: #c3240b;
}

.video-block .video-info h2{
font: 34px/14px 'helveticaneue_light';
color: #c3240b;
    display:block; margin-bottom: 34px;
}
.video-block .video-info .line{display:block; width: 100%; height:1px; background:#a17531; }

.video-block .video-info p{color:#a27632; font: 34px/38px Georgia;
font-style: italic; margin-top: 24px;}

.recipt-wrapper .video_wrapper .img_wrapper iframe {display: block;}


/* Page 404
*****************/

.page_404 {height:330px; width: 100%; padding: 150px 0;
    background: url('../img/404/404.jpg') center center no-repeat;  }

.page_500{width: 100%; padding: 150px 0;}

.error-content{width: 245px; margin: 0 auto;}
.error-content h2{font: 38px/30px 'helveticaneue_light';
    color: #c3240b; text-align: center;}
.error-content h1{font: 78px/30px 'helveticaneue_light';
    color: #c3240b; text-align: center; margin-bottom: 50px;
    display: block;
}

.error-content h1 span{border-bottom:  4px solid #7bc142;}

.error-content p{
    color: #a27632;
    font: 18px/24px Georgia;
    font-style: italic;
    text-align: center;
}

.error-content a{color: #cb2f0d;}


/* Contacts
*****************/
.contacts {
  padding-top: 60px;
}
.contacts h1 {
  text-align: left;
  margin: 0 0 45px;
}
.contacts .map_container {
  width: 1270px;
  height: 500px;
  margin-left: -75px;
  background: white;
  border-radius: 30px;
  position: relative;
}
.contacts .map_container:after {
  content: '';
  background: url(../img/contacts_map_shadow.png) no-repeat;
  width: 1270px;
  height: 102px;
  position: absolute;
  bottom: -102px;
  left: 0;
}
.contacts .map_container .address {
  width: 255px;
  height: 440px;
  float: left;
  position: relative;
  padding: 30px;
}
.contacts .map_container .address:after {
  content: '';
  background: url(../img/contacts_arrow.png) no-repeat;
  width: 15px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -16px;
}
.contacts .map_container .address h5 {
  margin: 0;
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  color: #7d5318;
}
.contacts .map_container .address p {
  margin: 10px 0 15px;
  font-family: 'helveticaneue_regular';
  font-size: 16px;
  color: #777777;
}
.contacts .map_container .address p span {
  font-size: 26px;
}
.contacts .map_container .address a.btn_green {
  width: 255px;
  position: absolute;
  bottom: 35px;
}
.contacts .map_container .map {
  float: right;
  width: 955px;
  height: 500px;
}
.contacts .info {
  margin-top: 60px;
  margin-bottom: 80px;
}
.contacts .info img {
  float: left;
  margin-right: 70px;
}
.contacts .info .column {
  padding: 0 10px;
  width: 440px;
  float: left;
}
.contacts .info .column p {
  font-family: 'helveticaneue_regular';
  font-size: 16px;
  line-height: 21px;
  color: #777777;
  margin: 0;
}

/* Site Map
*****************/
.sitemap {
  padding-top: 60px;
}
.sitemap h1 {
  text-align: left;
  margin: 0 0 45px;
}
.sitemap ul {
  padding: 0;
  list-style: none;
  margin-bottom: 100px;
}
.sitemap ul li {
  margin-bottom: 15px;
}
.sitemap ul li:last-child {
  margin-bottom: 0;
}
.sitemap ul li img {
  margin-left: 8px;
}
.sitemap ul li a {
  font-family: 'helveticaneue_regular';
  font-size: 18px;
  color: #c54025;
  text-decoration: none;
}
.sitemap ul li ul.second {
  padding-left: 20px;
  margin-bottom: 20px;
}
.sitemap ul li ul.second li {
  margin-bottom: 8px;
}
.sitemap ul li ul.second li a {
  font-size: 14px;
}

/* Recipe!
*****************/
.recipe {
  padding-top: 0 !important;
}
.recipe_feedback {
  margin-bottom: 70px;
}
.recipe_feedback h1 {
  font-size: 28px;
  margin-bottom: 35px;
}
.recipe_feedback ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.recipe_feedback ul li {
  margin-bottom: 30px;
  width: 745px;
}
.recipe_feedback ul .comment {
  position: relative;
  margin-top: 5px;
  display: block;
  font-size: 16px;
  color: #a3773a;
  font-style: normal;
  padding-left: 20px;
  line-height: 22px;
}
.recipe_feedback ul .comment:before {
  content:'—';
  position: absolute;
  left: 0;
}
.recipe_feedback ul li:last-child {
  margin-bottom: 0;
}
.recipe_feedback ul li p {
  margin: 0;
  font-family: 'helveticaneue_light';
}
.recipe_feedback ul li p span {
  font-family: 'Georgia';
  font-size: 15px;
  font-style: italic;
}
.recipe_feedback ul li p span.name {
  color: #c33e2b;
  margin-right: 5px;
}
.recipe_feedback ul li p span.date {
    color: #c4c4c4;
}
.recipe_feedback textarea {
  border: 1px solid #B47829;
  border-radius: 20px;
  resize: none;
  width: 803px;
  height: 167px;
  display: block;
  margin-top: 50px;
  outline: none;
  padding: 8px 15px 7px;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;
}
.recipe_feedback .btn_red {
  float: left;
  width: 220px;
  margin-top: 40px;
  margin-left: 20px;
}

.categories_list {
  margin-bottom: 60px;
}
.categories_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  float: left;
  margin-right: 35px;
}
.categories_list ul:last-child {
  margin-right: 0;
}
.categories_list ul li {
  margin-bottom: 8px;
}
.categories_list ul li a {
  font-family: 'helveticaneue_regular';
  font-size: 14px;
  color: #c54025;
  text-decoration: none;
}
.categories_list ul li:first-child {
  margin-bottom: 15px;
}
.categories_list ul li:first-child a {
  font-size: 18px;
}

/* Recipes Page!
*****************/

.recipes_page .with_shaf h1 {
  line-height: 55px;
}
.recipes_page .tabs {
  margin-top: 50px;
  margin-bottom: 30px;
}
.recipes_page .tips,
.recipe_new_page .tips {
  margin-left: 0;
}
.recipes_page .tips .anythingControls,
.recipe_new_page .tips .anythingControls {
  display: none !important;
}
.recipes_page .tips .arrow,
.recipe_new_page .tips .arrow {
  position: absolute;
  display: block;
  top: 30%;
}
.recipes_page .tips .arrow a,
.recipe_new_page .tips .arrow a {
  display: block;
  width: 41px;
  height: 62px;
  background: url(../img/opinion/nav.png);
  text-align: center;
  background-size: 115px 62px;
  outline: 0;
}
.input {
  float: right;
}
.input input {
  display: block;
  border: #cda76b 1px solid;
  font: 16px/16px 'Georgia';
  color: #7E540B;
  outline: none;
  padding: 6px 25px 7px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: none;
  width: 298px;
  position: relative;
  top: 20px;
  font-style: italic;
  line-height: 18px;
}
/* back arrow */
.recipes_page .tips .back,
.recipe_new_page .tips .back { left: -60px;}
.recipes_page .tips .forward,
.recipe_new_page .tips .forward { right: -50px;}
.recipes_page .tips .forward a,
.recipe_new_page .tips .forward a {background-position: -73px 0;}
/* Navigation Links */
.recipes_page .tips .anythingControls,
.recipe_new_page .tips .anythingControls { outline: 0; display: none; }





.autocomplete-suggestions {
  background: white;
  text-align: left;
  color: #C6421C;
  font-family: 'helveticaneue_regular';
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 12px;
  box-shadow: 0 12px 20px rgba(181,167,140,.6);
}
.autocomplete-suggestions .autocomplete-suggestion {
  cursor: pointer;
  padding: 0 13px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 24px;
}
.autocomplete-suggestions .autocomplete-suggestion:hover {
  background: #FFF5D9;
}



/* Question Page!
*****************/


.question_wrap {
  padding-top: 10px;
  padding-bottom: 100px;
}
.question_wrap h1 {
  text-align: left;
  font-size: 47px;
  line-height: 55px;
  margin-top: 35px;
}
.question_wrap .rec-nav-wrapper {
  position: static;
  margin: auto;
}
.question_wrap .rec-nav-wrapper p {
  padding-top: 37px;
  font-size: 13px;
}
.question_wrap form {
  margin-top: 43px;
  font-family: 'helveticaneue_regular';
}
.question_wrap form p {
  font-size: 18px;
  color: #C44024;
}
.question_wrap form label {
  height: 17px;
  display: block;
  font-size: 16px;
  line-height: 17px;
  color: #777777;
  position: relative;
  margin-left: 28px;
  margin-bottom: 12px;
  cursor: pointer;
}
.question_wrap form input[type="radio"] {
  position: absolute;
  visibility: hidden;
}
.question_wrap form label:before {
  content: '';
  width: 17px;
  height: 17px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -28px;
  background: url(../img/check_radio.png);
}
.question_wrap form label.active:before {
  content: '';
  background-position: 0 -147px;
}
.question_wrap form div label {
  float: left;
}
.question_wrap form input[type="text"] {
  width: 312px;
  height: 32px;
  border: 1px solid #CEA865;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 13px;
  margin-top: -10px;
  outline: none;
  background: none;
  font: 16px/16px 'helveticaneue_light';
  color: #cda76b;
}
.question_wrap form .btn {
  width: 185px;
  height: 55px;
  border: none;
  outline: none;
  margin-top: 65px;
}
.question_wrap form .images_container {
}
.question_wrap form .images_container .images {
  float: left;
  width: 468px;
  height: 264px;
  background: white;
  padding: 12px 5px 5px;
  text-align: center;
  border: 1px solid #e5e4dd;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.4);
  position: relative;
}
.question_wrap form .images_container .images:hover {
  background: #ffcc00;
  cursor: pointer;
  border-color: transparent;
}
.question_wrap form .images_container .images.active {
  border-color: transparent;
  background: #ffcc00;
}
.question_wrap form .images_container .images:nth-child(2n+1) {
  margin-right: 90px;
}
.question_wrap form .images_container .images:nth-child(1n+3) {
  margin-top: 50px;
}
.question_wrap form .images_container .images img {
  width: 451px;
  height: 255px;
}
.question_wrap form .images_container .images .number {
  width: 91px;
  height: 91px;
  background: url(../img/sections/question_number.png) no-repeat;
  position: absolute;
  top: -45px;
  right: -45px;
  line-height: 75px;
  font-family: Georgia;
  font-style: italic;
  font-size: 50px;
  color: white;
}



/* Promo action Page!
*****************/


.promo_action_wrap {
  margin-top: 45px;
}
.promo_action_wrap h1 {
  text-align: left;
   font-size: 47px;
}
.promo_action_wrap h1 a {
  color: inherit;
  text-decoration: none;
}
.promo_action_wrap h1 a:hover {
  text-decoration: underline;
}
.promo_action_wrap .tabs a:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
}
.promo_actions {
  padding: 0;
  margin-bottom: 0;
}
.promo_actions li {
  width: 380px;
  list-style: none;
  float: left;
  margin-right: 11px;
  margin-bottom: 40px;
  margin-top: 25px;
}
.promo_actions li:nth-child(3n) {
  margin-right: 0;
}
.promo_actions li .text_info {
  padding-left: 6px;
  padding-right: 6px;
}
.promo_actions li img {
  border-radius: 4px;
  border: 6px solid white;
  box-shadow: 0 3px 9px #9D9B97;
}
.promo_actions li h1 {
  font-size: 24px;
  width: 310px;
  line-height: 26px;
  margin-bottom: 10px;
}
.promo_actions li span {
  font-size: 16px;
  font-family: Georgia;
  font-style: italic;
  color: #a3773a;
}
.promo_actions li p {
  font-size: 16px;
  color: #777777;
  font-family: 'helveticaneue_regular';
  line-height: 24px;
  margin-top: 9px;
  margin-bottom: 0;
}
.promo_action_wrap .controls {
  margin-top: 10px;
  margin-bottom: 70px;
}




/* Benefits Page!
*****************/

.benefits_wrap {
  padding-top: 35px;
}
.benefits_wrap h1 {
  text-align: left;
  font-size: 47px;
}
.benefits_wrap .sl_line {
  margin-bottom: 0;
}
.benefits_wrap .advantage_item {
  margin-bottom: 45px;
}
.benefits_wrap .advantage_item .img {
  float: left;
  width: 580px;
  text-align: center;
}
.benefits_wrap .advantage_item .text_info {
  float: right;
  width: 550px;
  padding-top: 15px;
}
.benefits_wrap .text_info p {
  color: #777777;
  font-size: 16px;
  line-height: 23px;
  font-family: "helveticaneue_regular";
  margin-bottom: 22px;
}
.benefits_wrap .text_info p span {
  font-family: 'helveticaneue_bold';
}
.benefits_wrap .text_info .btn {
  display: inline-block;
  width: 238px;
  margin-top: 23px;
}
.benefits_wrap .features_wrap h1 {
  font-size: 24px;
  text-align: left;
  margin-top: 22px;
  padding-left: 3px;
}
.benefits_wrap .features_wrap .features {
  position: relative;
  float: right;
  right: 50%;
}
.benefits_wrap .features_wrap ul {
  float: right;
  right: -50%;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.benefits_wrap .features_wrap ul li {
  display: inline-block;
  position: relative;
}
.benefits_wrap .features_wrap .item {
  float: left;
  width: 205px;
  height: 260px;
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
}
.benefits_wrap .features_wrap .item .img {
  width: 170px;
  height: 170px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  margin: auto;
}
.benefits_wrap .features_wrap .item p {
  font-size: 14px;
  color: #777;
  font-family: 'helveticaneue_regular';
  line-height: 17px;
}


/* Advices Page!
*****************/
.advices_wrap {
  margin-top: 60px;
  padding-bottom: 90px;
}
.advices_wrap h1 {
  text-align: left;
  font-size: 47px;
}
.advices_wrap .recipe_list_wrap {
  margin-top: 45px;
}
.advices_wrap .controls {
  margin-top: 35px;
}


/* Advice Page!
*****************/

.advice_wrap {
  padding-top: 0 !important;
  margin-bottom: 80px !important;
}
.advice_wrap .stage {
  margin-bottom: 40px !important;
}
.advice_wrap .advice {
  padding-left: 0;
  margin-top: 70px;
  margin-left: 5px;
  height: auto;
}
.advice_wrap .advice .line {
  display: block;
  width: 85px;
  height: 4px;
  background: #7bc142;
  margin: 16px 0 0 0;
}
.advice_wrap .advice li {
  list-style: none;
  padding: 0;
}
.advice_wrap .advice .img_wrapper {
  float: left;
  position: relative;
  width: 557px;
  height: 313px;
  border: 10px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0px 12px 17px rgba(0,0,0,0.2), 0px 1px 10px rgba(0,0,0,0.2);
}
.advice_wrap .advice .img_wrapper img {
  width: 100%;
  height: 100%;
}
.advice_wrap .advice .advices_wrapper {
  float: right;
  width: 535px;
}

.advice_wrap .recipe_feedback h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 60px;
}
.advice_wrap .navigation ul {
  padding: 0;
}
.advice_wrap .navigation li {
  float: left;
  list-style: none;
  width: 372px;
  margin-right: 5px;
}
.advice_wrap .navigation li .img_wrapper {
  float: left;
  border: 3px solid #fff;
}
.advice_wrap .navigation li a {
  display: block;
}
.advice_wrap .navigation li .prod_title {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: left;
  width: 175px;
  margin-left: 18px;
  font-size: 18px;
  line-height: 18px;
  font-family: 'helveticaneue_regular';
}
.advice_wrap .navigation li:hover .img_wrapper {
  border: 3px #ffcc00 solid!important;
}
.advice_wrap .navigation li .img_wrapper img {
  width: 100%;
  height: 100%;
  display: block;
}


.text_block {
  font-family: 'helveticaneue_regular';
  padding-bottom: 40px;
}
.text_block .left_text,
.text_block .right_text {
  width: 550px;
}
.text_block .left_text {
  float: left;
}
.text_block .right_text {
  float: right;
}
.text_block h2 {
  font-size: 30px;
  color: #c7411c;
  font-weight: normal;
  margin: 0 0 20px;
}
.text_block h3 {
  font-size: 20px;
  color: #a47833;
  font-weight: normal;
  margin: 0 0 15px;
}
.text_block p {
  font-family: 'helveticaneue_light';
  font-size: 14px;
  line-height: 22px;
  color: #787775;
  margin: 0 0 55px;
}
.text_block .right_text p {
  margin-bottom: 40px;
}

.left_info {
  float: left;
  width: 185px;
}











