<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Главная</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/jcarousel.connected-carousels.css">
  <script src="../js/jquery-1.10.1.min.js"></script>
  <script src="../js/fancySelect.js"></script>
  <script src="../js/jquery.jcarousel.min.js"></script>
  <script src="../js/jcarousel.connected-carousels.js"></script>
  <script src="../js/jquery.mousewheel.js"></script>
  <script src="../js/jquery.jscrollpane.min.js"></script>
  <script src="../js/main.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="page">
    <div id="header">
      <div class="social">
        <a href="#" class="fb"></a>
        <a href="#" class="vk"></a>
        <a href="#" class="odnkl"></a>
        <a href="#" class="insta"></a>
      </div>
      <ul class="main_nav left_part">
        <li><a href="#">продукты</a></li>
        <li class="bluda"><a href="#">блюда из курицы</a></li>
        <li><a href="#">советы</a></li>
      </ul>
      <a href="/" class="logo">

      </a>
      <ul class="main_nav right_part">
        <li><a href="#">промо-акции</a></li>
        <li><a href="#">отзывы клиентов</a></li>
        <li><a href="#"><img src="../img/menu_buy.png" alt="">купить</a></li>
      </ul>
      <div class="log_reg_block">
        <a href="#" class="map_btn"></a>
        <a href="#" class="log_btn">Вход</a>
        <a href="#" class="reg_btn"><i></i>Регистрация</a>
        <a href="#" class="contact_btn"><i></i>Контакты</a>
        <a href="#" class="feedback_btn"><i></i>Обратная связь</a>
      </div>
    </div>

<!--    <div class="promo">
      <div class="promo_bg"></div>
      <div class="promo_info">
        <div class="title">
          Подарки<br>от Петелинки
        </div>

        <div class="line"></div>
        <div class="info">
          Регистрируйте коды<br>
          Участвуйте в розыгрыше<br>
          Выиграйте шоппинг со стилистом
        </div>
        <a href="#" class="promo_btn">зарегистрировать код</a>
      </div>
    </div>-->
    <div class="jcarousel_promo">
      <ul>
        <li>
          <div class="promo">
            <a href="{{ path('promo') }}" class="promo_link">
              <div class="promo_bg"></div>
              <div class="promo_info">
                <div class="title">
                  Подарки<br>от Петелинки
                </div>
                <div class="info">
                  Участвуйте в акции,<br>Выиграйте 100 000 на шоппинг<br>со стилистом каждую неделю.
                </div>
                <div class="line"></div>

              </div>
            </a>
            <a  href="{{ path('register') }}"  class="promo_btn_pr">Участвовать</a>

          </div>
        </li>
        <li>
          <!--Первый победитель-->
          <div class="promo promo_winners">
            <a href="{{ path('promo') }}" class="promo_link">
              <div class="promo_bg winner_bg"></div>
              <div class="winner_photo">
                <img src="../img/promo/winner_photo.jpg">
              </div>
              <div class="promo_info">
                <div class="title">
                  Первый победитель
                </div>
                <div class="info sub_info">
                  уже получил суперприз от Петелинки
                </div>
                <div class="line"></div>
                <div class="info">
                  Людмила из Москвы выиграла <span class="money_prize">100 000 рублей</span><br>
                  на шоппинг с личным стилистом.
                </div>
              </div>
            </a>
            <a  href="{{ path('promo') }}"  class="promo_btn_pr"></a>

          </div>
        </li>
        <li>
          <!--Второй победитель-->
          <div class="promo promo_winners">
            <a href="{{ path('promo') }}" class="promo_link">
              <div class="promo_bg winner_bg"></div>
              <div class="winner_photo">
                <img src="../img/promo/winner_photo_2.jpg">
              </div>
              <div class="promo_info">
                <div class="title">
                  Второй победитель
                </div>
                <div class="info sub_info">
                  уже получил суперприз от Петелинки
                </div>
                <div class="line"></div>
                <div class="info">
                  Мария из города Мытищи выиграла <span class="money_prize">100 000 рублей</span><br>
                  на шоппинг с личным стилистом.
                </div>
              </div>
            </a>
            <a  href="{{ path('promo') }}"  class="promo_btn_pr"></a>

          </div>
        </li>
      </ul>
    </div>




    <div class="presents_counter">
      <div class="present_block rub30_tel">
        <div class="present_image"></div>
        <div class="present_info">
          <div class="top_info">
            30 рублей<br>
            <span class="thin_text">на телефон</span>
          </div>
          <div class="bottom_info">
            <span class="bot_text">Призов<br>осталось:</span>
            <div class="counter_wrapper">
              <span class="counter_item">7</span>
              <span class="counter_item">1</span>
              <span class="counter_item">3</span>
              <span class="counter_item">9</span>
              <span class="counter_item">7</span>
            </div>
          </div>

        </div>
      </div>
      <div class="present_block rub100_tel">
        <div class="present_image"></div>
        <div class="present_info">
          <div class="top_info">
            100 рублей<br>
            <span class="thin_text">на телефон</span>
          </div>
          <div class="bottom_info">
            <span class="bot_text">Призов<br>осталось:</span>
            <div class="counter_wrapper">
              <span class="counter_item">1</span>
              <span class="counter_item">3</span>
              <span class="counter_item">7</span>
              <span class="counter_item">7</span>
            </div>
          </div>
        </div>
      </div>
      <div class="present_block rub_shopinng">
        <div class="present_image"></div>
        <div class="present_info">
          <div class="top_info">
            Шопинг<br>
            <span class="thin_text">на</span> 100 000
            <span class="thin_text">руб</span>
          </div>
          <div class="bottom_info">
            <span class="bot_text">Призов<br>осталось:</span>
            <div class="counter_wrapper">
              <span class="counter_item">5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sections_container">

      <div class="section clearfix video_recipes">
        <div class="main_block fl_l r_shadow">
          <div class="main_block_text fl_l rad_l">
            <div class="rc_arrow"></div>
            <a href="#" class="block_title">
              Рецепты
            </a>
            <div class="line"></div>
            <div class="block_info">
              Уникальные рецепты блюд из курицы.<br>
              Порадуйте себя и свою семью!
            </div>
          </div>
          <a href="#" class="main_block_img fl_r">
            <img src="../img/sections/video.jpg" alt="" class="rad_r">
            <span class="play_video"></span>
          </a>
        </div>
        <div class="info_block fl_r">
          <div class="img_wr">
            <img src="../img/sections/video_img.png" alt="">
          </div>
          <div class="line"></div>
          <div class="text">
            Вкусные и интересные<br>
            решения<br>
            на все случаи жизни!
          </div>
        </div>
      </div>

      <div class="section clearfix novinki">
        <div class="main_block fl_r l_shadow">
          <div class="main_block_text fl_r  rad_r">
            <div class="lc_arrow"></div>
            <a href="#" class="block_title">
              Новинки<br>Петелинки
            </a>
            <div class="line"></div>
            <div class="block_info">
              Курочка в пакете<br>
              для запекания от Петеленки
            </div>
            <a href="#" class="buy_btn">купить</a>
          </div>
          <a href="#" class="main_block_img fl_l">
            <img src="../img/sections/new.jpg" alt="" class="rad_l">
          </a>
        </div>
        <div class="info_block fl_l">
          <div class="img_wr">
            <img src="../img/sections/new_img_01.png" alt="">
            <img src="../img/sections/new_img_02.png" alt="">
          </div>
          <div class="text">
            Продукция Петелинка<br>
            производится в экологически<br>
            чистом районе Подмосковья
          </div>
        </div>
      </div>

      <div class="section clearfix about_brand">
        <div class="main_block fl_l r_shadow">
          <div class="main_block_text fl_l  rad_l">
            <div class="rc_arrow"></div>
            <a href="#" class="block_title">
              Советы<br>от Петелинки
            </a>
            <div class="line"></div>
            <div class="block_info">
              Мы очень бережно и трепетно
              относимся к нашим бройлерам.
              квалифицированый персонал,
              штат ветеринаров, лучшие
              корма и витамины!
            </div>
          </div>
          <a href="#" class="main_block_img fl_r">
            <img src="../img/sections/about_brand.jpg" alt="" class="rad_r">
          </a>
        </div>
        <div class="info_block fl_r">
          <div class="img_wr">
            <img src="../img/sections/about_brand_img_01.png" alt="">
          </div>
          <div class="line"></div>
          <div class="text">
            Петелинка предлагает<br>
            только лучшее!
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="boofer"></div>
</div>

<div id="footer">
  <div class="container">
    <div class="copyrights">
      © 2013 Петелинка
    </div>
  </div>

</div>
<div class="overlay_wrapper" style="display: none">


  <div class="overlay_n" id="change_password" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Изменение пароля</h3>
      <form class="site_form" id="change_password_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Новый пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Подтвердите пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <input type="submit" value="подтвердить">
      </form>
    </div>
  </div>

  <div class="overlay_n" id="uthorization" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Авторизация</h3>
      <form class="site_form" id="uthorization_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l mtop">Email или номер<br>моб. телефона</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="row clearfix clearfix">
          <div class="checkbox_wrapper fl_r ">
            <label><span class="check_wr"><input type="checkbox" checked></span> Запомнить меня</label>
          </div>
        </div>
        <input type="submit" value="войти" class="enter_btn">
        <div class="row clearfix">
          <a href="#" id="restore_password_btn" class="form_links fl_l">Восстановить пароль</a>
          <a href="#" id="registration_btn" class="form_links fl_r">Зарегистрироваться</a>
        </div>
      </form>

    </div>
  </div>

  <div class="overlay_n" id="registration_code" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Зарегистрировать код</h3>
      <form class="site_form" id="registration_code_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Промо-код:</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="row clearfix">
          <div class="captcha fl_l">
            <img src="../img/captcha.png" alt="">
          </div>
          <div class="arrow"></div>
          <input class="fl_r" type="text" placeholder="Код с картинки">

        </div>

        <input type="submit" value="подтвердить">

      </form>

    </div>

  </div>

  <div class="overlay_n" id="feedback" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Обратная связь</h3>
      <div class="feed_text">Если у Вас есть вопросы, отзывы или пожелания по работе сайта,<br>пожалуйста, заполните форму.</div>

      <form class="site_form" id="feedback_form">

        <div class="inp_wrapper clearfix">
          <label class="fl_l">Ваш email</label>
          <input class="fl_r required" name="feed_email" type="text" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Имя</label>
          <input class="fl_r required" name="feed_name" type="text" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Тема вопроса</label>
          <div class="feed_select fl_r">
            <select class="fancy" name="feed_theme">
              <option value="">Выберите</option>
              <option>Предложению отделу маркетинга</option>
              <option>Предложение отделу продаж</option>
              <option>Вопросы по работе сайта</option>
              <option>Промо-Акция</option>
              <option>Качество продукции</option>
            </select>
          </div>

        </div>
        <div class="inp_wrapper">
          <textarea class="required" placeholder="" name="feed_message"></textarea>
        </div>

        <input type="submit" class="send_feed_btn" value="отправить">
        <div class="error_message"></div>

      </form>

    </div>

  </div>
  <div class="overlay_n" id="feedback_end" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">

      <p>Ваше сообщение успешно отправлено.</p>
      <p>Ответ Вы получите на указанный email<br>в течение двух рабочих дней.</p>
      <p>Спасибо за Ваше обращение!</p>


    </div>

  </div>

  <div class="auxiliary"></div>
</div>


</body>
</html>
