<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Промо-акция</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../css/normalize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/jcarousel.connected-carousels.css">
  <script src="../js/jquery-1.10.1.min.js"></script>
  <script src="../js/fancySelect.js"></script>
  <script src="../js/jquery.jcarousel.min.js"></script>
  <script src="../js/jcarousel.connected-carousels.js"></script>
  <script src="../js/jquery.mousewheel.js"></script>
  <script src="../js/jquery.jscrollpane.min.js"></script>
  <script src="../js/main.js"></script>
</head>
<body>
<div id="wrapper">
<div id="page">
<div id="header">
      <div class="social">
        <a href="#" class="fb"></a>
        <a href="#" class="vk"></a>
        <a href="#" class="odnkl"></a>
        <a href="#" class="insta"></a>
      </div>
      <ul class="main_nav left_part">
        <li><a href="#">продукты</a></li>
        <li class="bluda"><a href="#">блюда из курицы</a></li>
        <li><a href="#">советы</a></li>
      </ul>
      <a href="/" class="logo">

      </a>
      <ul class="main_nav right_part">
        <li><a href="#">промо-акции</a></li>
        <li><a href="#">отзывы клиентов</a></li>
        <li><a href="#"><img src="../img/menu_buy.png" alt="">купить</a></li>
      </ul>
      <div class="log_reg_block">
        <a href="#" class="map_btn"></a>
        <a href="#" class="log_btn">Вход</a>
        <a href="#" class="reg_btn"><i></i>Регистрация</a>
        <a href="#" class="contact_btn"><i></i>Контакты</a>
        <a href="#" class="feedback_btn"><i></i>Обратная связь</a>
      </div>
    </div>

<div class="content promos promos_winners">
<h1>Победители</h1>
<div class="line_sm"></div>
<div class="rules_wrapper">
  Количество призов и сроки акции изменились!<br>Подробности в
  <a href="{{ path('page_rules') }}" class="full_rules rules_link">правилах Акции</a>
</div>


<div class="winners">
  <div class="winners_header">
    <span>Этап:</span>
    <div class="navigation">
      <div class="carousel carousel-navigation">
        <ul id="winners_nav_stage">
          <li>
            <a href="#" data-id="1">1</a>
          </li>
          <li>
            <a href="#" data-id="2">2</a>
          </li>
          <li>
            <a href="#" data-id="3">3</a>
          </li>
          <li>
            <a href="#" data-id="4">4</a>
          </li>
          <li>
            <a href="#" data-id="5">5</a>
          </li>
          <li>
            <a href="#" data-id="6">6</a>
          </li>
          <li>
            <a href="#" data-id="7">7</a>
          </li>
          <li>
            <a href="#" data-id="8">8</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

<div id="winners_info">
<div>
  <div class="connected-carousels winners_list">

<div class="stage">
  <div class="carousel carousel-stage" id="mycarousel">
    <ul>
      <li>
        <div class="winner_item clearfix">
          <div class="winner_info">
            <div class="winner_name">
              Светлана<br>Иванова
              <span class="line"></span>
            </div>
            <div class="winner_prize scroll-pane">
              <div class="prize_name">
                Выиграла шоппинг
                на 100 000 рублей
                со стилистом.
              </div>
              <div class="winner_speech">
                <p>Мы с сестрой и родителями
                живем в двухкомнатной квартире. Конечно, мне нужно свое жилье! На него выигрыш и потрачу. Многие мои друзья и родственники участвовали в акции, но потом как-то перестали.</p>
                <p>А я продолжала
                «наследство»! На всю страну разыгрывался суперприз в два миллиона рублей, и я его выиграла! Спасибо Русскому лото!"</p>
              </div>
            </div>

          </div>
          <div class="winner_image">
            <img class="big_image" src="../img/winners/winner_01_b.jpg">
            <div class="navigation_photo_winner_wrapper">
              <div class="navigation_photo_winner">
                <ul>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_01_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_02_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_03_sm.jpg">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="winner_item clearfix">
          <div class="winner_info">
            <div class="winner_name">
              Светлана<br>Иванова
              <span class="line"></span>
            </div>
            <div class="winner_prize scroll-pane">
              <div class="prize_name">
                Выиграла шоппинг
                на 100 000 рублей
                со стилистом.
              </div>
              <div class="winner_speech">
                <p>Мы с сестрой и родителями
                  живем в двухкомнатной квартире. Конечно, мне нужно свое жилье! На него выигрыш и потрачу. Многие мои друзья и родственники участвовали в акции, но потом как-то перестали.</p>
                <p>А я продолжала
                  «наследство»! На всю страну разыгрывался суперприз в два миллиона рублей, и я его выиграла! Спасибо Русскому лото!"</p>
              </div>
            </div>

          </div>
          <div class="winner_image">
            <div class="winner_image_wrapper">
              <img class="big_image" src="../img/winners/winner_01_b.jpg">
            </div>

            <div class="navigation_photo_winner_wrapper">
              <div class="navigation_photo_winner">
                <ul>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_01_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_02_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_03_sm.jpg">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="winner_item clearfix">
          <div class="winner_info">
            <div class="winner_name">
              Светлана<br>Иванова
              <span class="line"></span>
            </div>
            <div class="winner_prize scroll-pane">
              <div class="prize_name">
                Выиграла шоппинг
                на 100 000 рублей
                со стилистом.
              </div>
              <div class="winner_speech">
                <p>Мы с сестрой и родителями
                  живем в двухкомнатной квартире. Конечно, мне нужно свое жилье! На него выигрыш и потрачу. Многие мои друзья и родственники участвовали в акции, но потом как-то перестали.</p>
                <p>А я продолжала
                  «наследство»! На всю страну разыгрывался суперприз в два миллиона рублей, и я его выиграла! Спасибо Русскому лото!"</p>
              </div>
            </div>

          </div>
          <div class="winner_image">
            <img class="big_image" src="../img/winners/winner_01_b.jpg">
            <div class="navigation_photo_winner_wrapper">
              <div class="navigation_photo_winner">
                <ul>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_01_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_02_sm.jpg">
                    </div>
                  </li>
                  <li>
                    <div class="winner_nav">
                      <img src="../img/winners/winner_03_sm.jpg">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a href="#" class="prev prev-stage"></a>
  <a href="#" class="next next-stage"></a>
  <div class="numb_prod_wrapper">
    <div class="numbers">
      <span class="current_n" id="current_item">1</span>
    </div>
  </div>

</div>



</div>
</div>

</div>
</div>



</div>

</div>
<div class="boofer"></div>
</div>

<div id="footer">
  <div class="container">
    <div class="copyrights">
      © 2013 Петелинка
    </div>
  </div>

</div>
<div class="overlay_wrapper" style="display: none">


  <div class="overlay_n" id="change_password" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Изменение пароля</h3>
      <form class="site_form" id="change_password_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Новый пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Подтвердите пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <input type="submit" value="подтвердить">
      </form>
    </div>
  </div>

  <div class="overlay_n" id="uthorization" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Авторизация</h3>
      <form class="site_form" id="uthorization_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l mtop">Email или номер<br>моб. телефона</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Пароль</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="row clearfix clearfix">
          <div class="checkbox_wrapper fl_r ">
            <label><span class="check_wr"><input type="checkbox" checked></span> Запомнить меня</label>
          </div>
        </div>
        <input type="submit" value="войти" class="enter_btn">
        <div class="row clearfix">
          <a href="#" id="restore_password_btn" class="form_links fl_l">Восстановить пароль</a>
          <a href="#" id="registration_btn" class="form_links fl_r">Зарегистрироваться</a>
        </div>
      </form>

    </div>
  </div>

  <div class="overlay_n" id="registration_code" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Зарегистрировать код</h3>
      <form class="site_form" id="registration_code_form">
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Промо-код:</label>
          <input class="fl_r" type="password" placeholder="">
        </div>
        <div class="row clearfix">
          <div class="captcha fl_l">
            <img src="../img/captcha.png" alt="">
          </div>
          <div class="arrow"></div>
          <input class="fl_r" type="text" placeholder="Код с картинки">

        </div>

        <input type="submit" value="подтвердить">

      </form>

    </div>

  </div>

  <div class="overlay_n" id="feedback" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">
      <h3>Обратная связь</h3>
      <div class="feed_text">Если у Вас есть вопросы, отзывы или пожелания по работе сайта,<br>пожалуйста, заполните форму.</div>

      <form class="site_form" id="feedback_form">

        <div class="inp_wrapper clearfix">
          <label class="fl_l">Ваш email</label>
          <input class="fl_r required" name="feed_email" type="text" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Имя</label>
          <input class="fl_r required" name="feed_name" type="text" placeholder="">
        </div>
        <div class="inp_wrapper clearfix">
          <label class="fl_l">Тема вопроса</label>
          <div class="feed_select fl_r">
            <select class="fancy" name="feed_theme">
              <option value="">Выберите</option>
              <option>Предложению отделу маркетинга</option>
              <option>Предложение отделу продаж</option>
              <option>Вопросы по работе сайта</option>
              <option>Промо-Акция</option>
              <option>Качество продукции</option>
            </select>
          </div>

        </div>
        <div class="inp_wrapper">
          <textarea class="required" placeholder="" name="feed_message"></textarea>
        </div>

        <input type="submit" class="send_feed_btn" value="отправить">
        <div class="error_message"></div>

      </form>

    </div>

  </div>
  <div class="overlay_n" id="feedback_end" style="display: none">
    <div class="close"></div>
    <div class="overlay_container">

      <p>Ваше сообщение успешно отправлено.</p>
      <p>Ответ Вы получите на указанный email<br>в течение двух рабочих дней.</p>
      <p>Спасибо за Ваше обращение!</p>


    </div>

  </div>

  <div class="auxiliary"></div>
</div>


</body>
</html>
